@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
	padding: 0;
	margin: 0;
	background-color: #669966;
	overflow: auto;
}
.container {
	overflow: auto;
}



.navbar {
	margin-bottom: 10px !important;
	background-color: #003366 !important;
	font-color:white!important;
	text-align:left!important;
}

.btn, .btn-primary {
	margin-bottom: 2px !important;
	background-color: #003366 !important;
	font-color:white !important; 
	font-size:16px !important;
	text-align:left !important;
	border:0px solid #003366 !important;

}

.btn-success {
	margin-bottom: 1px !important;
	background-color: #003366 !important;
	color:red !important; 
	font-color: red !important;
	font-size:16px !important;
	text-align:left !important;
	border:0px solid #003366 !important;

}

.button4 {
  background-color: white ;
  color:gray !important;
}

a.btn.button4:hover {
  background-color: white ;
  color:gray !important;
  cursor: auto;
}
.colorclass {
  color:white !important;
}

.dropdown-menu{
    white-space: normal;
    width: 200px !important;
}


.help {
	color:#fff;
	background-color:#228B22;
	width:18px;
	height:18px;
	display:inline-block;
	border-radius:100%;
	font-size:16px;
	text-align:center;
	text-decoration:Help;
	-webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.help:hover {
	background-color: #eee;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
	border: 1px solid #888;
	background-color: #ddd;
	color:#fff;
	background-color:#228B22;
	width:22px;
	height:22px;
	display:inline-block;
	border-radius:100%;
	font-size:18px;
	font-weight: 450;
	text-align:center;
	text-decoration:Help;
	-webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);

}


#toc_container {
	background: #f9f9f9 none repeat scroll 0 0;
	border: 5px solid #aaa;
	display: table;
	font-size: 100%;
	margin-bottom: 1em;
	padding: 20px;
	width: auto;
}

.toc_title {
	font-weight: 1000;
	text-align: center;
	color: #003366 !important;
	font-family: "Arial";
	margin-bottom: 1em;

}

#toc_container li, #toc_container ul, #toc_container ul li{
	list-style: outside none none !important;
}


button:focus{outline:none !important;}



.overview {
	background-color: #003366 !important;
	color: white !important;

}
a.btn.btn-primary.dropdown-toggle.overview {
	background-color: #003366 !important;
	color: white !important;
	cursor: pointer;


}

a.dropdown-toggle:hover {
	cursor: pointer;
}

a.btn.btn-primary.dropdown-toggle.overview {
	background-color: #003366 !important;
	color: white !important;

}
li.nav-item.mr-4.dropdown{
	background-color: #003366 !important;
	color: white !important;

}

.nav-link{
	color: black !important;

}
.nav-link.disabled{
	color: gray !important;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    border: 3;
    border-bottom: 3px solid grey;
    color: black;
}

.nav-tabs .nav-link.active {
    color: #000000;
    border-radius: 0;
    border-bottom: 2px solid blue;
}

.dropdown-menu .dropdown-item .dropdown-item3 {
	background-color: #003366 !important;
	color: white !important;
}
.navbar-dark .navbar-nav .nav-item .dropdown-menu{
	background-color: #003366 !important;

}


.navbar-dark .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	background-color: grey !important;
}

.navbar-dark .navbar-nav .nav-item .dropdown-menu .dropdown-item-text {
	color: grey !important;}

a.dropdown-item-text:hover {
	cursor: default;
}

	.navbar-dark .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 0.90) !important;;
		text-align:center !important;
	}

	.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
		color: rgba(255, 255, 255, 1.00) !important;
	}

	.navbar-dark .navbar-nav .nav-link.disabled {
		color: rgba(255, 255, 255, 0.25) !important;
	}

	.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
		color: #fff !important;
	}

	/*table style*/

	.bs-example{
		margin: 20px;
	}
	table.table-bordered{
		border:1px solid #003366 !important;
		margin-top:20px;
	}
	table.table-bordered > thead > tr > th{
		border:1px solid #003366 !important;
	}
	table.table-bordered > tbody > tr > td{
		border:1px solid #003366 !important;
	}
	.table td {
		text-align: center;   
	}
	/*image style*/

	.fit-image{
		width: 100%;
		object-fit: cover;
		height: 18rem;
		/* only if you want fixed height */
	}

	.dropdown-menu {
		color: white !important;

	}

	.dropdown-item2 {
		color: white !important;
		text-align:right !important;
	}    

	.dropdown-item .dropdown-toggle .dropdown-item3{
		color: white !important;

	}

	/*header style*/
	.header{
		position: relative;
		background-image: url('../images/headerback.jpg');

		background-size: cover;
		background-position: center;
	}
	.overlay{
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		left: 0;
		top: 0;
		background: rgba(244, 244, 244, 0.79);
	}
	.description{
		position: absolute;
		top: 30%;
		margin: auto;
		padding: 2em;

	}
	.description h1{
		color:#F97300 ;
	}
	.description p{
		color:#666;
		font-size: 20px;
		width: 50%;
		line-height: 1.5;
	}
	.description button{
		border:1px  solid #F97300;
		background:#F97300;
		color:#fff;
	}
	.about{
		margin: 4em 0;
		padding: 1em;
		position: relative;
	}
	.about h1{
		color:#F97300;
		margin: 2em;
	}
	.about img{
		height: 100%;
		width: 100%;
		border-radius: 50%
	}
	.about span{
		display: block;
		color: #888;
		position: absolute;
		#left: 115px;
	}
	.about .desc{
		padding: 2em;
		border-left:4px solid #10828C;
	}
	.about .desc h3{
		color: #10828C;
	}
	.about .desc p{
		line-height:2;
		color:#888;
	}


	/*Portfolio*/
	.portfolio{
		margin: 4em 0;
		position: relative;	
	}
	.portfolio h1{
		color:#F97300;
		margin: 2em;	
	}
	.portfolio img{
		height: 15rem;
		width: 100%;
		margin: 1em;



	}

	/*blog style*/
