<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PDB-Dev Validation Report Landing Page</title>
        <!-- add bootstrap css file -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" media="screen, projection, print">
        <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen, projection, print">
        <style>
            @charset "UTF-8";
            /* CSS Document */
            a {
            color: #333399;
            font-weight: 450;
            }
            a:hover {
            color:#5353c6;
            }
            .clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
            clear:both;
            height:0;
            font-size: 1px;
            line-height: 0px;
            }
            body {
            background-color: #669966
            margin: 0;
            padding: 0;
            }
            .home-header {
            display: show;
            }
        </style>
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src='../js/main.js'></script>
    </head>
    <body style="background-color: #669966; ">
        <!-- header -->	
        <!-- header -->
        <div class="container-fluid">
            <div class="card" style="border: none; margin-bottom: 0px; margin-right: 10px; margin-left: 30px; ">
                <div class="float-left"><b><span id="siteid"></span></b></div>
                <div class="card-body" style="padding: 0px 0px;background-color: rgba(102,153,102, 0.5); " >
                    <div class="row">
                        <div class=" col-sm-9" style="margin-left: 0px;">
                            <a href="https://pdb-dev.wwpdb.org/">
                                <img src="Output/webimages/logon.png" class="float-left" alt="PDBDEV.org" height="100"  width="110"  style="margin-top: 10px; margin-bottom: 10px" />
                                <p>
                                <h1  style="margin-left: 0px; color: #003366;">PDB-Dev</h1>
                                <h5 class="float-left" style="color: #003366;">Prototype Archiving System for Integrative Structures</h5>
                                </p>
                            </a>
                        </div>
                        <div class="col-sm-3 d-flex align-items-end" style="margin-top: 0px;">
                            <h5 class="home-header ml-auto" style="margin-right:27px; color:#003366"><b><small>Released Entries: 36</small></b></h5>
                        </div>
                    </div>
                </div>
                <!--end panel body-->
                <!-- navbar -->
                <nav class="navbar navbar-expand-xl navbar-dark">
                    <div class="dropdown">
                        <a class="navbar-brand" href="main.html">
				<h5>Validation Report for {{ ID_T }}</h5>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
                <!-- navbar -->
                <nav class="navbar navbar-expand-xl navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="main.html"><span class="overview">Overview</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#qual">Overall quality</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="model_composition.html"><span class="overview">Model details</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="model_composition.html#ensemble">Ensemble information</a>
                                    <a class="dropdown-item" href="model_composition.html#summary">Summary</a>
                                    <a class="dropdown-item" href="model_composition.html#entry">Entry composition</a>
                                    <a class="dropdown-item" href="model_composition.html#data">Datasets used</a>
                                    <a class="dropdown-item" href="model_composition.html#representation">Representation</a>
                                    <a class="dropdown-item" href="model_composition.html#methods">Methods and software</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="data_quality.html"><span class="overview">Data quality</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="data_quality.html#first">SAS</a>
                                    <a class="dropdown-item" href="data_quality.html#second">CX-MS</a>
                                    <a class="dropdown-item" href="data_quality.html#third">FRET</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="model_quality.html"><span class="overview">Model quality</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="model_quality.html#geometry">Standard geometry</a>
                                    <a class="dropdown-item" href="model_quality.html#contacts">Close contacts</a>
                                    <a class="dropdown-item" href="model_quality.html#torsion1">Protein backbone outliers</a>
                                    <a class="dropdown-item" href="model_quality.html#torsion2">Protein sidechain outliers</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="formodeling.html"><span class="overview">Fit to data used</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="formodeling.html#first">SAS</a>
                                    <a class="dropdown-item" href="formodeling.html#second">CX-MS</a>
                                    <a class="dropdown-item" href="formodeling.html#third">FRET</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="notmodeling.html"><span class="overview">Fit to data not used</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="notmodeling.html#data">Data</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4 dropdown">
                                <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="uncertainty.html"><span class="overview">Uncertainty</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="uncertainty.html#data">Data</a>
                                    <a class="dropdown-item" href="uncertainty.html#model">Model</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
        </div>
	    {% block content %}
        {% endblock %}
    </body>
</html>
