@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
        padding: 0;
        margin: 0;
        background-color: #669966;
	height: 100vh;
	overflow: auto;
}
.container {
    height: 100vh;
    overflow: auto;
}


html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Arial";
}

.navbar {
  margin-bottom: 20px;
  background-color: #003366;
  font-color:white;
  text-align:center;
}

.btn, .btn-primary {
  margin-bottom: 10px;
  background-color: #003366;
  font-color:white;
  font-size:16px;
  text-align:center;
      border:1px solid #003366!important;

}

.navbar-nav > li > a {
  font-color: white;
}

.nav.navbar-nav li a {
   color: white;
}

.navbar-dark .navbar-nav .nav-item .dropdown-menu{
    background-color: #003366;
  }

.navbar-dark .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: grey;
  }



.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.90);
  text-align:center;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1.00);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff;
}

/*table style*/

.bs-example{
    	margin: 20px;
    }
table.table-bordered{
    border:1px solid #003366!important;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #003366!important;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #003366!important;
}
.table td {
   text-align: center;   
}
/*image style*/

.fit-image{
width: 100%;
object-fit: cover;
height: 18rem;
 /* only if you want fixed height */
}
    
/*header style*/
.header{
	position: relative;
	background-image: url('../images/headerback.jpg');

	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
	color:#F97300 ;
}
.description p{
	color:#666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #F97300;
	background:#F97300;
	color:#fff;
}
.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#F97300;
	margin: 2em;
}
.about img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	#left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
	color:#888;
}


/*Portfolio*/
.portfolio{
	margin: 4em 0;
    position: relative;	
}
.portfolio h1{
	color:#F97300;
	margin: 2em;	
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;

	

}

/*blog style*/
