<p align="justify"><em>Acknowledgments</em></p>
<ul style="list-style-type:none;">
  <li>
    <p align="justify">
      <em>
      The development of integrative model validation metrics, implementation of a model validation pipeline, and creation of a validation report for integrative structures are funded by NSF awards to the <a href="https://pdb-ihm.org/about.html">PDB-IHM team</a> (DBI-1756248, DBI-2112966, DBI-2112967, DBI-2112968, and DBI-1756250) and awards from NSF, NIH, and DOE to the <a href="https://rcsb.org">RCSB PDB</a> (DBI-2321666, R01GM157729, and DE-SC0019749). The PDB-IHM team and members of the <a href="https://salilab.org/">Sali lab</a> contributed model validation metrics and software packages.
      </em>
    </p>
  </li>
  <li>
    <p align="justify">
      <em>
        Dr. Jill Trewhella, Dr. Dina Schneidman, and members of the <a href="https://sasbdb.org">SASBDB</a> repository are acknowledged for their advice and support in implementing SAS validation methods. Team members from the labs of Dr. Juri Rappsilber, Dr. Alexander Leitner, Dr. Andrea Graziadei, and members of <a href="https://www.ebi.ac.uk/pride/">PRIDE</a> database are acknowledged for their advice and support in implementing crosslinking-MS validation methods. We are grateful to Dr. Shruthi Viswanath for discussions about uncertainty assessment of integrative structural models.
      </em>
    </p>
  </li>
  <li>
    <p align="justify">
      <em>
        Members of the <a href='https://www.wwpdb.org/task/hybrid'>wwPDB Integrative/Hybrid Methods Task Force</a> provided recommendations and community support for the project.
      </em>
    </p>
  </li>
</ul>
