{% extends "validation_report_layout.html" %}
{% from "macro.html" import write_table, insert_sas_plot %}
<!-- Template for writing data quality webpage -->
<!-- ganesans - Salilab - UCSF -->
<!-- ganesans@salilab.org -->
{% block body %}
  <!-- Data quality header -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="card-header" style="background-color: #FFF;">    
      <div class="row">
        <div class="col-lg-12">
          <h4 class="ex2" align="center"><u><a name='first'>Data quality</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#dataquality'>?</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- SAS: Scattering profile-->
  {% if sas|length > 0 and sasdb_sascif|length < 1 %}
    <div class="card-body border-success" style="border-color: solid black;">
      <!-- start overall card body for front page -->
      <div class="card-header" style="background-color: #FFF;">
        <!-- Data quality header -->
        <div class="row">
          <div class="col-lg-12">
            <h5 class= ex2 align= center>
              <u><a name=firstI>SAS:Scattering profile</a></u>
            </h5>
            <p align=justify>
              SAS data used in this integrative model could not be validated as the sascif file is currently unavailable.
            </p>
          </div>
        </div>
      </div>
    </div>
  {% elif sas|length > 0 and sasdb_sascif|length > 0 %}
    <!-- SAS: Scattering profile-->
    <div class="card-body border-success" style="border-color: solid black;">
      <!-- start overall card body for front page -->
      <div class="card-header" style="background-color: #FFF;">
        <!-- Data quality header -->
        <div class="row">
          <div class="col-lg-12">
            <!-- potential nesting inconsistency -->
            <h5 class= ex2 align= center>
              <u><a name=firstI>SAS:Scattering profile</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#scattering'>?</a>
            </h5>
            <p align=justify>
              SAS data used in this integrative model was obtained from {{sasdb_code_html|length|int}} deposited SASBDB entry (entries).
            </p>
          </div>
        </div>
        {% for i in range(sasdb_code_html|length) %}
          <div class=row>
            <div class=cl-lg-12>
              <!-- description -->
              <p align=justify>
                <u>Scattering profile for <a href=https://www.sasbdb.org/data/{{sasdb_code_html[i]}}/>{{sasdb_code_html[i]}}</a>:</u> data from solutions of biological macromolecules are presented as both log I(q) vs q and log I(q) vs log (q) based on <a href=https://salilab.org/pdf/Trewhella_ActaCrystD_2017.pdf>SAS validation task force (SASvtf) recommendations.</a> I(q) is the intensity (in arbitrary units) and q is the modulus of the scattering vector.
              </p>
              <!-- plots -->
              <div class=row>
                <!-- log I(q) vs q plot -->
                {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "intensities") }}
                <!-- log I(q) vs log q plot -->
                {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "intensities_log") }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- SAS: Key experimental estimates -->
    <div class="card-body border-success" style="border-color: solid black;">
      <!-- start overall card body for front page -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card-header" style="background-color: #FFF;">
            <h5 class= ex2 align= center>
              <u><a name=firstE>Key experimental estimates</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#expt'>?</a>
            </h5>
            <p class=ex2 align='justify'>
              <u>Molecular weight (MW) estimates from experiments and analysis</u>: true molecular weight can be compared to the Porod estimate from scattering profiles.
            </p>
            {{ write_table(parameters_mw) }}
            <p class=ex2>
              <u>Volume estimates from experiments and analysis</u>: estimated volume can be compared to Porod volume obtained from scattering profiles.
            </p>
            {{ write_table(parameters_volume) }}
          </div>
        </div>
      </div>
    </div>
    <!-- SAS: Flexibility analysis -->
    <div class="card-body border-success" style="border-color: solid black;">
      <!-- start overall card body for front page -->
      <div class="card-header" style="background-color: #FFF;">
        <div class="row">
          <!-- header -->
          <div class="col-lg-12">
            {% if sas|length > 0 and sasdb_sascif|length > 0 %}
              <h5 class= ex2 align= center>
                <u><a name=firstF>Flexibility analysis</a> </u><a class='help'  title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#flexibility'>?</a>
              </h5>
            {% endif %}
          </div>
        </div>
        {% for i in range(sasdb_code_html|length) %}
          <!-- description -->
          <p align=justify>
            <u>Flexibility analysis for {{sasdb_code_html[i]}}</u>: In a Porod-Debye plot, a clear plateau is observed for globular (partial or fully folded) domains, whereas, fully unfolded domains are devoid of any discernable plateau. For details, refer to Figure 5 in <a href=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3103662/>Rambo and Tainer, 2011</a>. In a Kratky plot, a parabolic shape is observed for globular (partial or fully folded) domains and a hyperbolic shape is observed for fully unfolded domains.
          </p>
          <!-- plots -->
          <div class=row>
            <!-- Porod-Debye plot -->
            {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "porod") }}
            <!-- Dimensionless Kratky plot -->
            {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "Kratky") }}
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- SAS: Pair-distance distribution -->
    <div class="card-body border-success" style="border-color: solid black;">
      <!-- start overall card body for front page -->
      <div class="card-header" style="background-color: #FFF;">
        <div class="row">
          <!-- header -->
          <div class="col-lg-12">
            <h5 align= center>
              <u><a name=firstP>Pair-distance distribution analysis</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#pofr'>?</a>
            </h5>
            <p class=ex2 align='justify'>
              <u>P(r) analysis:</u> P(r) represents the distribution of distances between all pairs of atoms within the particle weighted by the respective electron densities. P(r) is the Fourier transform of I(s) (and vice versa). R<sub>g</sub> can be estimated from integrating the P(r) function. Agreement between the P(r) and Guinier-determined R<sub>g</sub> (table below) is a good measure of the self-consistency of the SAS profile. R<sub>g</sub> is a measure for the overall size of a macromolecule; e.g. a protein with a smaller R<sub>g</sub> is more compact than a protein with a larger R<sub>g</sub>, provided both have the same molecular weight (MW). The point where P(r) is decaying to zero is called D<sub>max</sub> and represents the maximum size of the particle.
            </p>
            {{ write_table(pddf_info) }}
          </div>
        </div>
        {% for i in range(sasdb_code_html|length) %}
          <p align=justify>
            <u>P(r) for {{sasdb_code_html[i]}}:</u> The value of P(r) should be zero beyond r=D<sub>max</sub>.
          </p>
          <!-- main plots -->
          <div class=row>
            <!-- Pair distance distribution function -->
            {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "pddf") }}
            <!-- P(r) extrapolated fit -->
            {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "pddf_int") }}
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- SAS: Guinier analysis -->
    <div class="card-body border-success" style="border-color: solid black;">
      <!-- start overall card body for front page -->
      <div class="card-header" style="background-color: #FFF;">
        <div class="row">
          <!-- description -->
          <div class="col-lg-12">
            <h5 class= ex2 align= center><u><a name=firstG> Guinier analysis </a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#guinier'>?</a>
            </h5>
            <p class=ex2 align='justify'>
              <u> Guinier analysis:</u> agreement between the P(r) and Guinier-determined R<sub>g</sub> (table below) is a good measure of the self-consistency of the SAS profile. Molecular weight estimates can also be compared to Porod and sample molecular weights for consistency.
            </p>
            {{ write_table(rg_table) }}
          </div>
        </div>
        <!-- plots -->
        <div class="row">
          <div class="col-lg-12">
            <p align=justify>
              <i>The linearity of the Guinier plot is a sensitive indicator of the
              quality of the experimental SAS data; a linear Guinier plot is a
              necessary but not sufficient demonstration that a solution
              contains monodisperse particles of the same size.
              Deviations from linearity usually point to strong interference effects,
              polydispersity of the samples or improper background subtraction.
              Residual value plot and coefficient of determination (R<sup>2</sup>)
              are measures to assess linear fit to the data. A perfect fit has
              an R<sup>2</sup> value of 1. Residual values should be equally
              and randomly spaced around the horizontal axis.
              </i>
            </p>
            <!-- Guinier plot -->
            <div class=row>
              {% for i in range(sasdb_code_html|length) %}
                {{ insert_sas_plot(ID_w[0], sasdb_code_html[i], "guinier") }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}  
{% endblock %}
