<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%- block title -%}PDB-Dev Validation Report{%- endblock -%}</title>
    <!-- add bootstrap css file -->
    {% if html_mode == 'local' %}
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/layout.css">
    {% else %}
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/layout.css">
    {% endif %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
    <script type="text/javascript">
      Bokeh.set_log_level("info");
    </script>
  </head>
  <body style="background-color: #669966; ">
    <!-- wrap all content into fluid container -->
    <div class="container-fluid">
      <!-- header -->
      <div class="card" style="border: none; margin-bottom: 0px; margin-right: 10px; margin-left: 30px; ">
        <!-- header -->
        <!-- looks like empty and unnecessary element -->
        <div class="float-left">
          <b><span id="siteid"></span></b>
        </div>
        <!-- end of element -->
        <!-- actual header -->
        <div class="card-body" style="padding: 0px 0px;background-color: rgba(102,153,102, 0.5); ">
          <div class="row">
            <div class=" col-sm-9" style="margin-left: 0px;">
              <a href="/">
                {% if html_mode == 'local' %}
                  <img src="static/images/logon.png" class="float-left" alt="PDBDEV.org" height="100" width="110" style="margin-top: 0px; margin-bottom: 0px" />
                {% else %}
                  <img src="/images/logon.png" class="float-left" alt="PDBDEV.org" height="100" width="110" style="margin-top: 0px; margin-bottom: 0px" />
                {% endif %}
                <p>
                  <h1 style="margin-left: 0px; color: #003366;">PDB-Dev</h1>
                  <h5 class="float-left" style="color: #003366;">
                  Prototype Archiving System for Integrative Structures
                  </h5>
                </p>
              </a>
            </div>
            <!-- looks like empty and unnecessary element -->
            <div class="col-sm-3 d-flex align-items-end" style="margin-top: 0px;">
              <h5 class="home-header ml-auto" style="margin-right:27px; color:#003366">
                <b><small></small></b>
              </h5>
            </div>
            <!-- end of element -->
          </div>
        </div>
        <!--end of header -->
      
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-xl navbar-dark">
          <div class="dropdown">
            <a class="navbar-brand" href="main.html">
              <h5>
                Validation Report for {{ID_T}}
              </h5>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>

        <!-- Secondary navbar -->
        <nav class="navbar navbar-expand-xl navbar-dark p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
              
              <!-- About validation -->
              <li class="nav-item mr-4 dropdown">
                <a class="btn btn-primary " href="/about_validation.html"><span class="overview">About <br> Validation</span></a>
              </li>
              <li class="nav-item mr-4 dropdown">
                <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location='main.html';>Validation <br> Overview</button></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item colorclass" href="main.html#qual">Overall quality</a>
                </div>
              </li>
              
              <!-- Model details -->
              <li class="nav-item mr-4 dropdown">
                <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location='model_composition.html';>Model <br> Details </button></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item colorclass" href="model_composition.html#ensemble">Ensemble information</a>
                  <a class="dropdown-item colorclass" href="model_composition.html#summary">Summary</a>
                  <a class="dropdown-item colorclass" href="model_composition.html#entry">Entry composition</a>
                  <a class="dropdown-item colorclass" href="model_composition.html#data">Datasets used</a>
                  <a class="dropdown-item colorclass" href="model_composition.html#representation">Representation</a>
                  <a class="dropdown-item colorclass" href="model_composition.html#methods">Methods and software</a>
                </div>
              </li>
              
              <!-- Model details -->
              <li class="nav-item mr-4 dropdown">
                {% if ('SAS DATA' in Data) and enable_sas %}
                  <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location="data_quality.html";>Data <br> Quality </button></a>
                      
                {% elif (('SAS DATA' not in Data) or not enable_sas) and Unique_dataset|length > 0 %}
                  <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary">Data <br> Quality </button></a>
                          
                {% else %}
                  <a class="btn btn-success dropdown-toggle button4" value="Disabled" disabled background-color: #555555 ><span >Data <br>Quality</span></a>
                {% endif %}

                <div class="dropdown-menu">
                  {% if ('SAS DATA' in Data) and (sasdb_sascif|length > 0) and enable_sas %}
                    <a class="dropdown-item colorclass" dropdown-toggle  href=data_quality.html#first>SAS</a>
                    <ul class=dropdown-submenu>                  
                      <li>
                        <a class=dropdown-item2 href=data_quality.html#firstI>Scattering profiles</a>
                      </li>
                      
                      <li>
                        <a class=dropdown-item2 href=data_quality.html#firstE>Experimental estimates</a>
                      </li>
                      
                      <li>
                        <a class=dropdown-item2 href=data_quality.html#firstF>Flexibility analysis </a>
                      </li>

                      <li>
                        <a class=dropdown-item2 href=data_quality.html#firstP>p(r) analysis </a>
                      </li>

                      <li>
                        <a class=dropdown-item2 href=data_quality.html#firstG>Guinier analysis </a>
                      </li>
                    </ul>
                  {% elif ('SAS DATA' in Data) and (sasdb_sascif|length < 1) and enable_sas %}
                    <a class="dropdown-item colorclass" dropdown-toggle type=button href=data_quality.html#first>SAS</a>
                  {% endif %}
                    
                  {% for item in Unique_dataset %}
                    <a class=dropdown-item-text dropdown-toggle type=button>{{item}}</a>
                  {% endfor %}
                </div>
              </li>

              <!-- Model quality -->
              <li class="nav-item mr-4 dropdown">
                <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location='model_quality.html';>Model <br> Quality </button></a>
                <div class="dropdown-menu">
                  {% if sphere > 0 %}
                    <a class="dropdown-item colorclass" href=model_quality.html#ex>Excluded volume</a>
                  {% elif sphere < 1 %}
                    <a class="dropdown-item colorclass" href=model_quality.html#geometry1>Standard geometry:<br>bond outliers</a>
                    <a class="dropdown-item colorclass" href=model_quality.html#geometry2>Standard geometry:<br> angle outliers</a>
                    <a class="dropdown-item colorclass" href=model_quality.html#contacts>Close contacts</a>
                    <a class="dropdown-item colorclass" href=model_quality.html#torsion>Torsion angles: protein <br>backbone </a>
                    <a class="dropdown-item colorclass" href=model_quality.html#outliers>Torsion angles: protein <br>sidechain </a>
                  {% endif %}
                </div>
              </li>
              
              <!-- Fit to data used for modeling -->
              <li class="nav-item mr-4 dropdown">
                {% if (('SAS DATA' in Data) and enable_sas) or (('CX-MS DATA' in Data) and enable_cx) %}
                  <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location="formodeling.html";>Fit to Data <br> Used for Modeling </button></a>
                      
                {% elif Unique_dataset|length > 0 %}
                  <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary";>Fit to Data <br> Used for Modeling </button></a>
                    
                {% else %}
                  <a class="btn btn-success dropdown-toggle button4" value="Disabled" disabled background-color: #555555 ><span >Fit to Data <br>Used for Modeling</span></a>
                {% endif %}
                
								<div class="dropdown-menu">
                  {% if ('SAS DATA' in Data) and (sasdb_sascif|length > 0) and enable_sas %}
                    <a class="dropdown-item colorclass" dropdown-toggle href=formodeling.html>SAS</a>
                    <ul class=dropdown-submenu>
                      <li>
                        <a class=dropdown-item2 href=formodeling.html#first>Goodness of fit</a>
                      </li>
                      <li>
                        <a  class=dropdown-item2 href=formodeling.html#second>Cormap analysis </a>
                      </li>
                    </ul>
                  {% elif ('SAS DATA' in Data) and (sasdb_sascif|length < 1) and enable_sas%}
                    <a class=dropdown-item dropdown-toggle type=button href=data_quality.html#first>SAS</a>
                  {% endif %}
                  
									{% if ('CX-MS DATA' in Data) and enable_cx %}
                    <a class="dropdown-item colorclass" dropdown-toggle href=formodeling.html#cxms>
                      CX-MS
                    </a>

                    <ul class=dropdown-submenu>
                      <li>
                        <a class=dropdown-item2 href=formodeling.html#cxms_ertypes>
                          Restraint types
                        </a>
                      </li>
                      <li>
                        <a class=dropdown-item2 href=formodeling.html#cxms_satisfaction>
                          Satisfaction of restraints
                        </a>
                      </li>
                    </ul>
                  {% endif %}
                  
                  {% for item in Unique_dataset %}
                    <a class=dropdown-item-text dropdown-toggle type=button>{{item}}</a>
                  {% endfor %}
                </div>
              </li>

              <!-- Fit to data used for validation -->
              <li class="nav-item mr-4 dropdown">
                <a class="btn button4" value="Disabled" disabled background-color: #555555 ><span >Fit to Data <br>Used for Validation</span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item-text" dropdown-toggle type=button >Data</a>
                </div>
              </li>
              <li class="nav-item mr-4 dropdown">
                <a class="btn btn-primary " href="/validation_help.html"><span class="overview">Validation <br> Help</span></a>
              </li>
            </ul>
          </div>
        </nav>
        
        {% block body %}
        {% endblock %}
        
        <!-- start footer -->
        <footer class="page-footer">
          <div class="container-fluid">
            <div class="row" style="/color:#FFF; background-color: rgba(102,153,102, 0.5); padding-top: 10px; padding-bottom: 2px;">
              <div class="col-sm-6" style="padding-top: 10px; padding-bottom: 10px;">
                <a href="https://www.wwpdb.org/" target="_blank">
                {% if html_mode == 'local' %}
                  <img src="static/images/wwpdb-logo11.png" alt="wwpdb" height="35px" width="160px"></a>
                {% else %}
                  <img src="/images/wwpdb-logo11.png" alt="wwpdb" height="35px" width="160px"></a>
                {% endif %}
              </div>
              <div class="col-sm-6">
                <div class="float-right text-right">
                  <p style="margin-bottom: 0px; margin-right: 0px;color: #000">Supported by<br />National Science Foundation</p>
                </div>
              </div>
            </div>
            <div class="row" style="color:#FFF; background-color: #669966; padding-top: 3px; padding-bottom: 8px;">
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
