<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%- block title -%}PDB-IHM Validation Report{%- endblock -%}</title>
    <!-- add bootstrap css file -->
    {% if html_mode == 'local' %}
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/layout.css">
    {% else %}
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/layout.css">
    {% endif %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.3.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.3.min.js"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
      Bokeh.set_log_level("info");
    </script>
  </head>
  <body style="background-color: #669966; ">
    <!-- wrap all content into fluid container -->
    <div class="container-fluid">
      <!-- header -->
      <div class="card" style="border: none; margin-bottom: 0px; margin-right: 10px; margin-left: 30px; ">
        <!-- header -->
        <!-- looks like empty and unnecessary element -->
        <div class="float-left">
          <b><span id="siteid"></span></b>
        </div>
        <!-- end of element -->
        <!-- actual header -->
        <div class="card-body" style="padding: 0px 0px;background-color: rgba(102,153,102, 0.5); ">
          <div class="row">
            <div class=" col-sm-9" style="margin-left: 0px;">
              <a href="/">
                {% if html_mode == 'local' %}
                  <img src="static/images/logon.png" class="float-left" alt="PDBIHM.org" height="100" width="110" style="margin-top: 0px; margin-bottom: 0px" />
                {% else %}
                  <img src="/images/logon.png" class="float-left" alt="PDBIHM.org" height="100" width="110" style="margin-top: 0px; margin-bottom: 0px" />
                {% endif %}
                <p>
                  <h1 style="margin-left: 0px; color: #003366;">PDB-IHM</h1>
                  <h5 class="float-left" style="color: #003366;">
                    System for Archiving Integrative Structures
                  </h5>
                </p>
              </a>
            </div>
            <!-- looks like empty and unnecessary element -->
            <div class="col-sm-3 d-flex align-items-end" style="margin-top: 0px;">
              <h5 class="home-header ml-auto" style="margin-right:27px; color:#003366">
                <b><small></small></b>
              </h5>
            </div>
            <!-- end of element -->
          </div>
        </div>
        <!--end of header -->
        
        {% block navbar %}
        {% endblock %}
        
        {% block body %}
        {% endblock %}
        
        <!-- start footer -->
        <footer class="page-footer">
          <div class="container-fluid">
            <div class="row" style="/color:#FFF; background-color: rgba(102,153,102, 0.5); padding-top: 10px; padding-bottom: 2px;">
              <div class="col-sm-6" style="padding-top: 10px; padding-bottom: 10px;">
                <a href="https://www.wwpdb.org/" target="_blank">
                {% if html_mode == 'local' %}
                  <img src="static/images/wwpdb-logo11.png" alt="wwpdb" height="35px" width="160px"></a>
                {% else %}
                  <img src="/images/wwpdb-logo11.png" alt="wwpdb" height="35px" width="160px"></a>
                {% endif %}
              </div>
              <div class="col-sm-6">
                <div class="float-right text-right">
                  <p style="margin-bottom: 0px; margin-right: 0px;color: #000">Supported by<br />National Science Foundation</p>
                </div>
              </div>
            </div>
            <div class="row" style="color:#FFF; background-color: #669966; padding-top: 3px; padding-bottom: 8px;">
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
