{% extends "validation_report_layout.html" %}
{% from "macro.html" import insert_json_plot with context %}
{% block body %}
<!-- start overall card body for front page -->
<div class="card-body border-success" style="border-color: solid black;">
  <!-- start overall card body for front page -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card-header" style="background-color: #FFFFFF; border-color:#003366; height: 29rem;">
        <h3 align=center>
          <a href=/entry.html?{{ ID }}>
            {{ ID }}
          </a>
        </h3>
        <div class="box text-center no-padding float-left" style="text-align: center" >
          <a href="../pdf/{{validation_pdf}}">
            <button style="background-color: #669966; margin-top: 10px;margin-bottom:10px; margin-right:0px;color: #FFF;height: 85px; width: 10em; border-radius: 10px;cursor: pointer; font-size:0.8em;">
              <h5 align="center" style="text-align: center";>Download Validation Report</h5>
            </button>
          </a>
        </div>
        <div class="box text-center no-padding float-right" style="text-align: center" >
          <a href="../pdf/{{supplementary_pdf}}">
            <button style="background-color: #669966; margin-top: 10px;margin-bottom:10px; margin-right:0px;color: #FFF;height: 85px; width: 10em; border-radius: 10px;cursor: pointer; font-size:0.8em;">
              <h5 align="center" style="text-align: center";>Download Summary Table</h5>
            </button>
          </a>
        </div>
        <div class="box text-center container-fluid no-padding">
          <img src=/images/{{ ID_f }}_resize_1.png class=image-fluid alt=Model Image style=width:300px align=center>
        </div>
      </div>
      <!-- end card header -->
    </div>
    <!-- end col -->
    <div class="col-lg-8 col-md-2">
      <div class="card-header" style="background-color:#FFFFFF; border-color:#003366;">
        <div class="bs-example" class="text-center">
          <table class="table table-bordered" style="border-color:#003366; height: 25rem;">
            {% for k, v in ranked_id_list %}
              <tr>
                <td style="text-align:center; vertical-align: middle; white-space:nowrap;">{{ k }}</td>
                <td style="text-align:center; vertical-align: middle;">{{ v }}</td>
              </tr>
            {% endfor %}
            <tr>
              <td style="text-align:center; vertical-align: middle; white-space:nowrap;">Structure Title</td>
              <td style="text-align:center; vertical-align: middle;">{{ Molecule }} </td>
            </tr>
            <tr>
              <td style="text-align:center; vertical-align: middle; white-space:nowrap;">Structure Authors</td>
              <td style="text-align:center; vertical-align: middle;">{{ Authors }}</td>
            </tr>
            <!--
            {% if Citation_Title is not none %}
              <tr>
                <td style="text-align:center; vertical-align: middle; white-space:nowrap;">Publication Title</td>
                <td style="text-align:center; vertical-align: middle;">{{ Citation_Title }}</td>
              </tr>
              <tr>
                <td style="text-align:center; vertical-align: middle; white-space:nowrap;">Authors</td>
                <td style="text-align:center; vertical-align: middle;">{{ Citation_Authors }}</td>
              </tr>
            {% endif %}
            -->
            <tr>
              <td style="text-align:center; vertical-align: middle; white-space:nowrap;">Deposited on</td>
              <td style="text-align:center; vertical-align: middle;">{{ deposition_date }}</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end card-header -->
    </div>
    <!--end column-->
  </div>
  <!--end row-->
</div>
<!-- end card bods-->
<!-- start card body2 -->
<div class="card-body">
  <!-- start overall card body for front page -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card-header" style="background-color: #FFFFFF; border-color:#003366;">
        <h3 align="center">
          <a name='qual'>Overall quality</a>
          <a class='help' title='help' style="background-color:#228B22;color:#000000;text-decoration:none font-size=16px" href="/validation_help.html#overview">?</a>
        </h3>
        <p align="justify">
          <em>This validation report contains model quality assessments for all structures. For more detail for each assessment, use the dropdown menus at the top of this page. Number of plots is limited to {{MAXPLOTS}}.
          </em>
        </p>
        {% if 'SAS DATA' in Data and sasdb_sascif|length > 0 %}
          <p align="justify">
            <em>Data quality assessment for SAS datasets and fit to model assessments for SAS datasets is also included in this assessment. Data quality and fit to model assessments for other datasets and model uncertainty are under development.
            </em> 
          </p>   
        {% else %}
          <p align="justify">
            <em>Data quality and fit to model assessments for other datasets and model uncertainty are under development.
            </em>
          </p>
        {% endif %}
            
        {% if disclaimer %}
          <p align="justify">
            <em>MolProbity assessments and/or excluded volume assessments can not be evaluated for this current model.
            </em>
          </p>
        {% endif %}
  
        <div class="container">
          <ul class="nav nav-tabs">
            {% if glance_plots["MQ"] %}
              <li>
                <a class="nav-link " data-toggle="tab" href="#home">Model Quality</a>
              </li>
            {% else %}
              <li>
                <a class="nav-link disabled " data-toggle="tab" href="#home">Model Quality</a>
              </li>
            {% endif %}
          
            {% if glance_plots["DQ"] %}
              <li>
                <a class="nav-link" data-toggle="tab" href="#menu1">Data Quality</a>
              </li>
            {%- else %}
              <li>
                <a class="nav-link disabled" data-toggle="tab" href="#menu1" title="No input data were found in public databases">Data Quality</a>
              </li>
            {%- endif %}
          
            {% if glance_plots["FQ"]  %}
              <li>
                <a class="nav-link " data-toggle="tab" href="#menu2">Fit to Data Used for Modeling</a>
              </li>
            {% else %}
              <li>
                <a class="nav-link disabled" data-toggle="tab" href="#menu2">Fit to Data Used for Modeling</a>
              </li>
            {% endif %}  
            
            <li>
              <a class="nav-link disabled " data-toggle="tab" href="#menu3" class="tab-display">Fit to Data Used for Validation</a>
            </li>
          </ul>
        
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="box text-center container-fluid no-padding" align='center'>
                {% if glance_plots["MQ"] %}
                  {{ insert_json_plot("quality_at_glance_MQ") }}
                {% endif %}
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="box text-center container-fluid no-padding" align='center'>
                {% if glance_plots["DQ"] %}
                  {{ insert_json_plot("quality_at_glance_DQ") }}
                {% endif %}
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="box text-center container-fluid no-padding" align='center'>
              {% if glance_plots["FQ"] %}
                {{ insert_json_plot("quality_at_glance_FQ") }}
              {% endif %}
              </div>
            </div>
            <div id="menu3" class="tab-pane fade">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <!-- end card-header -->
      {% include 'validation_software.j2' %}
      <p style=margin-bottom:1cm;> </p>
      {% include 'acknowledgments.j2' %}
    </div>
    <!-- end column -->
  </div>
  <!--end row-->
</div>
<!--end card body-->
{% endblock %}
