<!-- Template for writing model quality webpage -->
<!-- ganesans - Salilab - UCSF -->
<!-- ganesans@salilab.org -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PDB-Dev Validation Report Landing Page</title>
    <!-- add bootstrap css file -->
    {% raw %}

    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/main.css">
    {% endraw %}


    <style>
    @charset "UTF-8";
    /* CSS Document */
    a {
        color: #333399;
        font-weight: 450;
    }
    a:hover {
        color:#5353c6;
    }
    .clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
        clear:both;
        height:0;
        font-size: 1px;
        line-height: 0px;
    }
    body {
        background-color: #669966
        margin: 0;
        padding: 0;
    }
    .home-header {
        display: show;
    }
    .dropdown-submenu {
      position: relative;
  }

  .dropdown-submenu a::after {
      transform: rotate(-90deg);
      position: absolute;
      right: 6px;
      top: .8em;
  }

  .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-left: .1rem;
      margin-right: .1rem;
  }

</style>


</head>

<body style="background-color: #669966; ">
    <!-- header -->
    <!-- header -->
    <div class="container-fluid">
        <div class="card" style="border: none; margin-bottom: 0px; margin-right: 10px; margin-left: 30px; ">
            <div class="float-left"><b><span id="siteid"></span></b></div>
            <div class="card-body" style="padding: 0px 0px;background-color: rgba(102,153,102, 0.5); ">
                <div class="row">
                    <div class=" col-sm-9" style="margin-left: 0px;">
                        <a href="https://pdb-dev.wwpdb.org/">
                            <img src="../../../images/logon.png" class="float-left" alt="PDBDEV.org" height="100" width="110" style="margin-top: 10px; margin-bottom: 10px" />
                            <p>
                                <h1 style="margin-left: 0px; color: #003366;">PDB-Dev</h1>
                                <h5 class="float-left" style="color: #003366;">Prototype Archiving System for Integrative Structures</h5>
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-3 d-flex align-items-end" style="margin-top: 0px;">
                        <h5 class="home-header ml-auto" style="margin-right:27px; color:#003366"><b><small></small></b></h5>
                    </div>
                </div>
            </div>
            <!--end panel body-->
            <!-- navbar -->

            <nav class="navbar navbar-expand-xl navbar-dark">
                <div class="dropdown">
                    <a class="navbar-brand" href="main.html">
                        <h5>Validation Report for {{ID_T}}</h5>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                {% raw %}

            </nav>
            {% endraw %}

            <!-- navbar -->
            <nav class="navbar navbar-expand-xl navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item mr-4 dropdown">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="main.html"><span class="overview">Overview</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="main.html#qual">Overall quality</a>
                            </div>
                        </li>
                        <li class="nav-item mr-4 dropdown">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="model_composition.html"><span class="overview">Model details</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="model_composition.html#ensemble">Ensemble information</a>
                                <a class="dropdown-item" href="model_composition.html#summary">Summary</a>
                                <a class="dropdown-item" href="model_composition.html#entry">Entry composition</a>
                                <a class="dropdown-item" href="model_composition.html#data">Datasets used</a>
                                <a class="dropdown-item" href="model_composition.html#representation">Representation</a>
                                <a class="dropdown-item" href="model_composition.html#methods">Methods and software</a>
                            </div>
                        </li>
                        <li class="nav-item mr-4 dropdown">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="data_quality.html"><span class="overview">Data quality</span>
                            </a>
                            <div class="dropdown-menu">

                                <script>
                                    if ({{Data}}.includes('SAS DATA') >= 1  && {{sasdb_sascif}}.length > 0) {
                                        var ex='<a class=dropdown-item dropdown-toggle  href=data_quality.html#first>SAS</a><ul class=dropdown-submenu><li><a class=dropdown-item2 href=data_quality.html#firstI>Scattering profiles</a></li><li><a class=dropdown-item2 href=data_quality.html#firstE>Experimental estimates</a></li><li><a class=dropdown-item2 href=data_quality.html#firstF>Flexibility analysis </a></li><li><a class=dropdown-item2 href=data_quality.html#firstP>P(r) analysis </a></li><li><a class=dropdown-item2 href=data_quality.html#firstG>Guinier analysis </a></li></ul>'
                                        document.write(ex);} else if ({{Data}}.includes('SAS DATA') >= 1  && {{sasdb_sascif}}.length < 1) {
                                            var ex='<a class=dropdown-item dropdown-toggle type=button href=data_quality.html#first>SAS</a>'
                                            document.write(ex);}

                                            else {

                                                var ex='<a class=dropdown-item href=data_quality.html#first>Data</a>'
                                                document.write(ex);
                                            }
                                        </script>
                                    </div>
                                </li>           

                                <li class="nav-item mr-4 dropdown">
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="model_quality.html"><span class="overview">Model quality</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <script>
                                            if ({{sphere}}>0){
                                                var ex='<a class=dropdown-item href=model_quality.html#ex>Excluded volume</a>';
                                                document.write(ex);}
                                                if ({{sphere}}<1){
                                                    var ex='<a class=dropdown-item href=model_quality.html#geometry>Standard geometry</a> <a class=dropdown-item href=model_quality.html#contacts>Close contacts</a> <a class=dropdown-item href=model_quality.html#torsion>Torsion angles</a> <a class=dropdown-item href=model_quality.html#outliers>Ramachandran outliers</a>';
                                                    document.write(ex);}
                                                </script>
                                            </div>
                                        </li>
                                        <li class="nav-item mr-4 dropdown">
                                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="formodeling.html"><span class="overview">Fit to data used</span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <script>
                                                    if ({{Data}}.includes('SAS DATA') >= 1 && {{sasdb_sascif}}.length > 0  ) {
                                                        var ex='<a class=dropdown-item dropdown-toggle href=formodeling.html>SAS</a>'
                                                        ex+='<ul class=dropdown-submenu><li><a class=dropdown-item2 href=formodeling.html#first>Goodness of fit</a></li><li><a  class=dropdown-item2 href=formodeling.html#second>Cormap analysis </a></li></ul>';
                                                        document.write(ex);} 
                                                        else if ({{Data}}.includes('SAS DATA') >= 1  && {{sasdb_sascif}}.length < 1) {
                                                            var ex='<a class=dropdown-item dropdown-toggle type=button href=data_quality.html#first>SAS</a>'
                                                            document.write(ex);}
                                                            else {
                                                                var ex='<a class=dropdown-item href=data_quality.html#first>Data</a>'
                                                                document.write(ex);}
                                                            </script>                          
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                        <!-- start overall card body for front page -->
                                        <!-- scripts -->
                                        <script>
                                            function Write_Table(list_to_write) {
                                                var mytable = "<div class='bs-example' class='text-center'> <table class='table table-bordered' style='border-color':#003366;> <thead> <tr>";
                                                for (var i = 0; i < list_to_write[0].length; i++) {
                                                    mytable += "<th align='center' class='text-center'>" + list_to_write[0][i] + "</th>";
                                                }
                                                mytable += "</tr></thead><tr>";

                                                for (var j = 1; j < list_to_write.length; j++) {
                                                    for (var i = 0; i < list_to_write[j].length; i++) {
                                                        mytable += "<td><div>" + list_to_write[j][i] + "</div></td>";
                                                    }
                                                    mytable += "</tr><tr>";

                                                }
                                                mytable += "</tr></table></div>";
                                                document.write(mytable);
                                            }
                                        </script>
                                        <!-- scripts -->
                                        <div class="card-body border-success" style="border-color: solid black;">
                                            <!-- start overall card body for front page -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card-header" style="background-color: #FFF;">
                                                        <h4 align="center"><u>Model quality</u><a class='help' href='../../../help.html'>?</a></h4>
                                                        <script>
                                                            var sphere = {{sphere}}
                                                            var disclaimer= {{disclaimer}}
                                                            if (sphere > 0) {
                                                                var ex = "<h5 class= ex2 align= left>Excluded volume satisfaction<a class='help' href='../../../help.html'>?</a></h5>";
                                                                ex += "<i> Excluded volume satisfaction for the models in the entry are listed below. </i>";
                                                                document.write(ex);
                                                                var space = '<p class="ex2"> </p>';
                                                                document.write(space);
                                                                Write_Table(list_to_write = {{excluded_volume}})
                                                                document.write(space);
                                                            }
                                                            if (disclaimer > 0) {
                                                                var space = '<p class="ex2"> </p>';
                                                                document.write(space);
                                                                var ex2 = "<i> NOTE: Based on existing standards, there are no model quality assessments for this entry.</i>";
                                                                document.write(ex2);
                                                                var space = '<p class="ex2"> </p>';
                                                                document.write(space); }


                                                            </script>
                                                            <script>
                                                                if ({{sphere}}< 1) {
                                                                    var intro = "<h5 class= ex2 align= center><u><a name='geometry'>Standard geometry</a></u><a class='help' href='../../../help.html'>?</a></h5>";
                                                                    document.write(intro);
                                                                    var space = '<p class="ex2"> </p>';
                                                                    document.write(space);
                                                                    if ({{molp_b}}.length > 1) {
                                                                        var intro = "<i> There are " + {{bond}} + " bond outliers in this entry. </i>";
                                                                        document.write(intro);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{molp_b}})
                                                                        document.write(space);
                                                                    }
                                                                    if ({{molp_a}}.length > 1) {
                                                                        var intro2 = "<i> There are " + {{angle}} + " angle outliers in this entry.  </i>";
                                                                        document.write(intro2);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{molp_a}})
                                                                        document.write(space);
                                                                    }

                                                                    if ({{clashscore_list}}.length > 1) {
                                                                        var docx = "<h5 class= ex2 align= center><u><a name='contacts'>Too-close contacts</a></u><a class='help' href='../../../help.html'>?</a></h5>";
                                                                        docx += "<p align='justify'><i> The following all-atom clashscore is based on a MolProbity analysis. All-atom clashscore is defined as the number of clashes found per 1000 atoms (including hydrogen atoms). The table below contains clashscores for all the models in this entry. </i></p>";
                                                                        document.write(docx);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{clashscore_list}})
                                                                        document.write(space);
                                                                    }


                                                                    if ({{ramascore}}.length > 1) {
                                                                        var text2 = "<h5 class=ex2 align= center><u><a name='torsion'>Torsion angles: Protein backbone</a></u><a class='help' href='../../../help.html'>?</a></h5>";
                                                                        text2 += "<p align='justify'><i> In the following table, Ramachandran outliers are listed. The Analysed column shows the number of residues for which the backbone conformation was analysed. </i></p>"
                                                                        document.write(text2);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{ramascore}})
                                                                        document.write(space);
                                                                    }


                                                                    if ({{ramalist}}.length > 1) {
                                                                        var text4 = "<i> Detailed list of outliers are tabulated below. </i>";
                                                                        document.write(text4);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{ramalist}})
                                                                        document.write(space);
                                                                    }


                                                                    if ({{rotascore}}.length > 1) {
                                                                        var text3 = "<h5 class=ex2 align=center><u><a name='outliers'>Ramachandran outliers: Protein sidechains</a></u><a class='help' href='../../../help.html'>?</a></h5>";
                                                                        text3 += "<i> In the following table, sidechain outliers are listed. The Analysed column shows the number of residues for which the sidechain conformation was analysed. </i>"
                                                                        document.write(text3);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{rotascore}})
                                                                        document.write(space);
                                                                    }


                                                                    if ({{rotalist}}.length > 1 ) {
                                                                        var text4 = "<i> Detailed list of outliers are tabulated below. </i>";
                                                                        document.write(text4);
                                                                        document.write(space);
                                                                        Write_Table(list_to_write = {{rotalist}})
                                                                        document.write(space);
                                                                    }


                                                                }
                                                            </script>
                                                        </div>
                                                    </div>
                                                    <!-- end col -->
                                                </div>
                                            </div>
                                            <!-- end card body-->
                                            <!-- start overall card body for front page -->

                                            <footer class="page-footer">
                                                <div class="container-fluid">
                                                    <div class="row" style="/color:#FFF; background-color: rgba(102,153,102, 0.5); padding-top: 10px; padding-bottom: 2px;">
                                                        <div class="col-sm-6" style="padding-top: 10px; padding-bottom: 10px;">
                                                            <a href="http://www.wwpdb.org/" target="_blank">
                                                                <img src="../../../images/wwpdb-logo11.png" alt="wwpdb" height="35px" width="160px"></a>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="float-right text-right">
                                                                    <p style="margin-bottom: 0px; margin-right: 0px;color: #000">Supported by<br />National Science Foundation</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="color:#FFF; background-color: #669966; padding-top: 3px; padding-bottom: 8px;">
                                                        </div>
                                                    </div>
                                                </footer>

                                                <!-- add Javasscript file from js file -->
                                                {% raw %}

                                                <script type="text/javascript" src="../../../js/jquery.min.js"></script>
                                                <script type="text/javascript" src="../../../js/bootstrap.min.js"></script>
                                                <script type="text/javascript" src="../../../js/main.js"></script>
                                                <script type="text/javascript" src="../../../js/jquery-3.3.1.min.js"></script>
                                                <script type="text/javascript" src="../../../js/popper1.12.9.min.js"></script>
                                                <script type="text/javascript" src="../../../js/bootstrap4.1.3.min.js"></script>
                                                <script type="text/javascript" src="../../../js/bootstrap3-typeahead.min.js"></script>
                                                {% endraw %}

                                            </div>
                                        </body>

                                        </html>
