{% extends "layout.html" %}

{% block body %}

<!-- Template for writing model composition webpage -->
<!-- ganesans - Salilab - UCSF -->
<!-- ganesans@salilab.org -->

                                            <!-- scripts -->
                                            <script>
                                                function Write_Table(list_to_write) {
                                                    var mytable = "<div class='bs-example' class='text-center'> <table class='table table-bordered' style='border-color':#003366;> <thead> <tr>";
                                                    for (var i = 0; i < list_to_write[0].length; i++) {
                                                        mytable += "<th align='center' class='text-center' style='vertical-align:middle'>" + list_to_write[0][i] + "</th>";
                                                    }
                                                    mytable += "</tr></thead><tr>";

                                                    for (var j = 1; j < list_to_write.length; j++) {
                                                        for (var i = 0; i < list_to_write[j].length; i++) {
                                                            mytable += "<td><div>" + list_to_write[j][i] + "</div></td>";
                                                        }
                                                        mytable += "</tr><tr>";

                                                    }
                                                    mytable += "</tr></table></div>";
                                                    document.write(mytable);
                                                }
                                            </script>
                                            <div class="card-body border-success" style="border-color: solid black;">
                                                <!-- start overall card body for front page -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card-header" style="background-color: #FFF;">
                                                            <script>
                                                                var n = {{num_ensembles}};
                                                                var section = "<h4 align='center'><u><a name='ensemble'>Ensemble information</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='../../../validation_help.html#ensemble'>?</a></h4>";
                                                                if (n < 2) {
                                                                    section += '<p class ="ex2"><i>This entry consists of ' + n + ' distinct ensemble.</i></p>';
                                                                    document.write(section);
                                                                } else {
                                                                    section += '<p class ="ex2"><i>This entry consists of ' + n + ' distinct ensembles.</i></p>';
                                                                    document.write(section);
                                                                }

                                                                var div1 = '</div></div></div></div>';
                                                                document.write(div1);

                                                                var div2 = '<div class="card-body border-success" style="border-color: solid black;"><div class="row"><div class="col-lg-12"><div class="card-header" style="background-color: #FFF;">'
                                                                document.write(div2);

                                                                var write1 = '';
                                                                write1 += '<h4 class="ex2" align="center"><u><a name=summary>Summary</a></u><a class="help" title="help" style="background-color:#228B22;color:#000000;text-decoration:none font-size=16px"  href="../../../validation_help.html#summary">?</a></h4>';


                                                                write1 += '<p align="justify"><i>This entry consists of ' + {{number_of_molecules}} + ' unique models, with ' + String({{num_chains}}) + ' subunits in each model. A total of ' + {{number_of_datasets}} + ' datasets or restraints was used to build this entry. Each model is represented by ' + String({{Rigid_Body}}) + ' rigid bodies and ' + String({{Flexible_Unit}}) + ' flexible or non-rigid units. </i> </p>';
                                                                document.write(write1);
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body border-success" style="border-color: solid black;">
                                                <!-- start overall card body for front page -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card-header" style="background-color: #FFF;">
                                                            <h4 class="ex2" align="center"><u><a name='entry'>Entry composition</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="../../../validation_help.html#entry">?</a> </h4>
                                                            <script>
                                                                function write_intro_1(input_variable) {
                                                                    if (input_variable < 2) {
                                                                        var docx = "<i>There is " + input_variable + " unique type of model in this entry. </i>";
                                                                        document.write(docx);
                                                                    } else {
                                                                        var docx = "<i>There are " + input_variable + " unique types of models in this entry.</i> ";
                                                                        document.write(docx);
                                                                    }
                                                                }

                                                                function write_model_name(input_variable) {
                                                                    if (input_variable.length < 2) {
                                                                        var docx = " <i>This model is titled " + input_variable[0] + " respectively. </i>"
                                                                        document.write(docx);
                                                                    } else {
                                                                        var docx = "<i>These models are titled " + input_variable.join(', ') + " respectively.</i> "
                                                                        document.write(docx);
                                                                    }
                                                                }

                                                                function write_intro_2(input_variable) {
                                                                    if (input_variable.length < 2) {
                                                                        var docx = "<i>Model has " + input_variable.join() + " chains respectively.</i> "
                                                                        document.write(docx);
                                                                    } else {
                                                                        var docx = "<i>Models have " + input_variable.join() + " chains respectively.</i> "
                                                                        document.write(docx);
                                                                    }
                                                                }
                                                                write_intro_1(input_variable = {{number_of_molecules}})
                                                                write_model_name(input_variable = {{model_names}})
                                                            </script>
                                                            <script>
                                                                var input_list = {{Entry_list}};

                                                                Write_Table(list_to_write = input_list)
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- start overall card body for front page -->
                                            <div class="card-body border-success" style="border-color: solid black;">
                                                <!-- start overall card body for front page -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card-header" style="background-color: #FFF;">
                                                            <h4 class="ex2" align="center"><u><a name='data'>Datasets used for modeling </a></u> <a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="../../../validation_help.html#datasets">?</a></h4>
                                                            <script>
                                                                function write_dataset(input_variable) {
                                                                    if (input_variable < 2) {
                                                                        var docx = "<i>There is " + input_variable + " unique dataset used to build the models in this entry. </i>";
                                                                        document.write(docx);
                                                                    } else {
                                                                        var docx = "<i>There are " + input_variable + " unique datasets used to build the models in this entry.</i> ";
                                                                        document.write(docx);
                                                                    }
                                                                }
                                                                write_dataset(input_variable = {{number_of_datasets}})
                                                            </script>
                                                            <p class="ex2"> </p>
                                                            <script>
                                                                var input_list_2 = {{Datasets_list}};

                                                                Write_Table(list_to_write = input_list_2)
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- start overall card body for front page -->
                                                <div class="card-body border-success" style="border-color: solid black;">
                                                    <!-- start overall card body for front page -->
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="card-header" style="background-color: #FFF;">
                                                                <h4 class="ex2" align="center"><u><a name="representation">Representation </a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="../../../validation_help.html#representation">?</a> </h4>
                                                                <p class="ex2" align="justify"><i>This entry has only one representation and includes {{Rigid_Body}} rigid bodies and {{Flexible_Unit}} flexible units.</i></p>
                                                                <p class="ex2"> </p>
                                                                <script>
                                                                    var input_list_3 = {{RB_list}};

                                                                    Write_Table(list_to_write = input_list_3)
                                                                </script>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- start overall card body for front page -->
                                                <div class="card-body border-success" style="border-color: solid black;">
                                                    <!-- start overall card body for front page -->
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="card-header" style="background-color: #FFF;">
                                                            </script>
                                                            <h4 class="ex2" align="center">
                                                                <u><a name="methods">Methodology and software</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="../../../validation_help.html#software">?</a></h2>
                                                                <script>
                                                                    var n = {{Protocols_number}}
                                                                    if (n < 2) {
                                                                        var write_prot = "<i>This entry is a result of " + {{Protocols_number}} + " distinct protocol.</i>";
                                                                        document.write(write_prot);
                                                                    } else {
                                                                        var write_prot = "<i>This entry is a result of " + {{Protocols_number}} + " distinct protocols.</i>";
                                                                        document.write(write_prot);
                                                                    </script>
                                                                    <p class="ex2"> </p>
                                                                    <script>
                                                                        var input_list_3 = {{Sampling_list}};

                                                                        Write_Table(list_to_write = input_list_3)
                                                                    </script>
                                                                    <script>
                                                                        function write_software(software_list) {
                                                                            if (software_list < 1) {
                                                                                var docx = "<i>Software packages used for modeling were either not reported or not used.</i> ";
                                                                                document.write(docx);
                                                                            } else if (software_list < 2) {
                                                                                var docx = "<i>There is " + software_list + " software package reported in this entry.</i> ";
                                                                                document.write(docx);
                                                                            } else {
                                                                                var docx = "<i>There are " + software_list + " software packages reported in this entry. </i>";
                                                                                document.write(docx);
                                                                            }
                                                                        }
                                                                        write_software(software_list = {{number_of_software}})
                                                                    </script>
                                                                    <p class="ex2"> </p>
                                                                    <script>
                                                                        var input_list = {{soft_list}};

                                                                        Write_Table(list_to_write = input_list)
                                                                    </script>
                                                                    <p class="ex2"> </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- start overall card body for front page -->
                                                <!-- start overall card body for front page -->
                                                <!-- start overall card body for front page -->
{% endblock %}
