{% extends "validation_report_layout.html" %}
{% from "macro.html" import write_table %}
{% block body %}
<!-- Template for writing model quality webpage -->
<!-- ganesans - Salilab - UCSF -->
<!-- ganesans@salilab.org -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 align="center"><u>Model quality</u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#modelquality'>?</a></h4>
          <p class="ex2"> For models with atomic structures, molprobity analysis is performed. For models with coarse-grained or multi-scale structures, excluded volume analysis is performed.</p>
          <!-- Bad systems without proper metrics -->
          {% if disclaimer > 0 %}
            <p class="ex2"></p>
            <i>NOTE: Based on existing standards, there are no model quality assessments for this entry.</i>
            <p class="ex2"></p>
          {% else %}
            <!-- Excluded volume for systems with coarse grain beads -->
            {% if sphere|int > 0 %}
              <h5 class= ex2 align= left>Excluded volume satisfaction<a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#exv'>?</a>
              </h5>
              <i>Excluded volume satisfaction for the models in the entry are listed below.</i>
              <p class="ex2"></p>
              {{ write_table(excluded_volume) }}
              <p class="ex2"></p>
            <!-- Atomic systems (molprobity) -->
            {% else %}
              <h5 class= ex2 align= center>
                <u><a name='geometry1'>Standard geometry: bond outliers</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#molprobity'>?</a>
              </h5>
              <p class="ex2"></p>
              {% if molp_b|length > 1 %}
                <i>There are {{ bond|int }} bond outliers in this entry ({{ "%.1f"|format(bond / total_bonds * 100) }}% of all bonds). A summary is provided below, and a detailed list of outliers can be found <a href=../csv/bond_outliers.csv>here</a>.
                </i>
                <p class="ex2"></p>
                {{ write_table(molp_b) }}
                <p class="ex2"></p>
              {% else %}
                <i> Bond length outliers can not be evaluated for this model</i>
                <p class="ex2"></p>
              {% endif %}
  
              <h5 class= ex2 align= center>
                <u><a name='geometry2'>Standard geometry: angle outliers</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#molprobity'>?</a>
              </h5>
              <p class="ex2"></p>
              {% if molp_a|length > 1 %}
                {% if total_angles|int > 1 %}
                  <i>
                    There are {{ angle|int }} angle outliers in this entry ({{ "%.1f"|format(angle / total_angles * 100) }}% of all angles). A summary is provided below, and a detailed list of outliers can be found <a href=../csv/angle_outliers.csv>here</a>.
                  </i>
                {% else %}
                  <i>
                    There are {{ angle|int }} angle outliers in this entry. A summary is provided below, and a detailed list of outliers can be found <a href=../csv/angle_outliers.csv>here</a>.
                  </i>
                {% endif %}
                <p class="ex2"></p>
                {{ write_table(molp_a) }}
                <p class="ex2"></p>
              {% else %}
                <i>Bond angle outliers do not exist or can not be evaluated for this model</i>
                <p class="ex2"></p>
              {% endif %}
  
              {% if clashscore_list|length > 1 %}
                <h5 class= ex2 align= center>
                  <u><a name='contacts'>Too-close contacts</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#molprobity'>?</a>
                </h5>
                <p align='justify'>
                  <i>The following all-atom clashscore is based on a MolProbity analysis. All-atom clashscore is defined as the number of clashes found per 1000 atoms (including hydrogen atoms). The table below contains clashscores for all the models in this entry.</i>
                </p>
                <p class="ex2"></p>
                {{ write_table(clashscore_list) }}
                <p class="ex2"></p>
              {% endif %}
  
              {% if clashlist|length > 1 %}
                <p align='justify'>
                  <i>The table below contains the detailed list of all clashes based on a MolProbity analysis. Bad clashes are >= 0.4 Angstrom.</i>
                </p>
                <p class="ex2"></p>
                {{ write_table(clashlist) }}
                <p class="ex2"></p>
              {% endif %}
  
              {% if ramascore|length > 1 %}
                <h5 class=ex2 align= center>
                  <u><a name='torsion'>Torsion angles: Protein backbone</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#molprobity'>?</a>
                </h5>
                <p align='justify'>
                  <i>In the following table, Ramachandran outliers are listed. The Analysed column shows the number of residues for which the backbone conformation was analysed.</i>
                 </p>
                <p class="ex2"></p>
                {{ write_table(ramascore) }}
                <p class="ex2"></p>
              {% endif %}
  
              {% if ramalist|length > 1 %}
                <i>Detailed list of outliers are tabulated below.</i>
                <p class="ex2"></p>
                {{ write_table(ramalist) }}
                <p class="ex2"></p>
              {% endif %}
  
              {% if rotascore|length > 1 %}
                <h5 class=ex2 align=center>
                  <u><a name='outliers'>Torsion angles : Protein sidechains</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href='/validation_help.html#molprobity'>?</a>
                </h5>
                <i>In the following table, sidechain rotameric outliers are listed. The Analysed column shows the number of residues for which the sidechain conformation was analysed.</i>
                <p class="ex2"></p>
                {{ write_table(rotascore) }}
                <p class="ex2"></p>
              {% endif %}
  
              {% if rotalist|length > 1 %}
                <i>Detailed list of outliers are tabulated below.</i>
                <p class="ex2"></p>
                {{ write_table(rotalist) }}
                <p class="ex2"></p>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
