{% extends "validation_report_layout.html" %}
{% from "macro.html" import write_table %}
{% block body %}
<!-- Template for writing model composition webpage -->
<!-- ganesans - Salilab - UCSF -->
<!-- ganesans@salilab.org -->

  <!-- Ensemble information -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 align='center'>
            <u><a name='ensemble'>Ensemble information</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="/validation_help.html#ensemble">?</a>
          </h4>
          {% if num_ensembles < 2 %}
            <p class ="ex2"><i>This entry consists of {{num_ensembles|int}} distinct ensemble.</i></p>
          {% else %}
            <p class ="ex2"><i>This entry consists of {{num_ensembles|int}} distinct ensembles.</i></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Structure summary -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 class="ex2" align="center">
            <u><a name=summary>Summary</a></u><a class="help" title="help" style="background-color:#228B22;color:#000000;text-decoration:none font-size=16px"  href="/validation_help.html#summary">?</a>
          </h4>
            
          <p align="justify">
            <i>This entry consists of {{number_of_molecules|int}} unique models, with {{num_chains|int}} subunits in each model. A total of {{number_of_datasets|int}} datasets or restraints was used to build this entry. Each model is represented by {{Rigid_Body|int}} rigid bodies and {{Flexible_Unit|int}} flexible or non-rigid units.</i>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Entry summary -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 class="ex2" align="center"><u><a name='entry'>Entry composition</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="/validation_help.html#entry">?</a>
          </h4>
          {% if number_of_molecules < 2 %}
            <i>There is {{number_of_molecules|int}} unique type of model in this entry.</i>
          {% else %}
            <i>There are {{number_of_molecules|int}} unique types of models in this entry.</i>
          {% endif %}   
  
          {% if model_names|length < 2 %}
            <i>This model is titled {{model_names[0]}} respectively.</i>
          {% else %}
            <i>These models are titled {{model_names|join(', ')}} respectively.</i>
          {% endif %}
  
          {{ write_table(Entry_list) }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Datasets summary -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 class="ex2" align="center"><u><a name='data'>Datasets used for modeling </a></u> <a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="/validation_help.html#datasets">?</a></h4>
          {% if number_of_datasets < 2 %}
            <i>There is {{number_of_datasets|int}} unique dataset used to build the models in this entry.</i>
          {% else %}
            <i>There are {{number_of_datasets|int}} unique datasets used to build the models in this entry.</i>
          {% endif %}
  
          {{ write_table(Datasets_list) }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Representations summary -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 class="ex2" align="center"><u><a name="representation">Representation </a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="/validation_help.html#representation">?</a> </h4>
          <p class="ex2" align="justify"><i>This entry has only one representation and includes {{Rigid_Body|int}} rigid bodies and {{Flexible_Unit|int}} flexible units.</i></p>
  
          {{ write_table(RB_list) }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Protocols and software summary -->
  <div class="card-body border-success" style="border-color: solid black;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header" style="background-color: #FFF;">
          <h4 class="ex2" align="center">
            <u><a name="methods">Methodology and software</a></u><a class='help' title='help' style='background-color:#228B22;color:#000000;text-decoration:none font-size=16px' href="/validation_help.html#software">?</a>
          </h4>
          <!-- Protocols summary -->
          {% if Protocols_number < 2 %}
            <i>This entry is a result of {{Protocols_number|int}} distinct protocol.</i>
          {% else %}
            <i>This entry is a result of {{Protocols_number|int}} distinct protocols.</i>
          {% endif %}
          
          {{ write_table(Sampling_list) }}
          
          <!-- Software summary -->
          {% if number_of_software < 1 %}
            <i>Software packages used for modeling were either not reported or not used.</i>
          {% elif number_of_software < 2 %}
            <i>There is {{number_of_software|int}} software package reported in this entry.</i>
          {% else %}
            <i>There are {{number_of_software|int}} software packages reported in this entry.</i>
          {% endif %}
  
          {{ write_table(soft_list) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
