<table border="" cellpadding="4" cellspacing="0" style="display:inline-block; vertical-align:middle">
  <tbody>
    <tr>
      <td bgcolor="#b2182b" width="1em" title="low_1"></td>
      <td bgcolor="#ef8a62" width="1em" title="low_2"></td>
      <td bgcolor="#fddbc7" width="1em" title="low_3"></td>
      <td bgcolor="#f7f7f7" width="1em" title="mid_1"></td>
      <td bgcolor="#d1e5f0" width="1em" title="high_3"></td>
      <td bgcolor="#67a9cf" width="1em" title="high_2"></td>
      <td bgcolor="#2166ac" width="1em" title="high_1"></td>
    </tr>
  </tbody>
</table>
