<!--
prism.j2 - Local precision (PrISM) assessment content

Copyright (C) 2025 Arthur Zalevsky <aozalevsky@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/.
-->

{% if prism_plots|length > 0  %}
  <h4 class= ex2 align=center>
    <u><a name='prism'>4.2. PrISM Precision Analysis</a></u>
    {{ format_help("prism", current_task) }} 
  </h4>
  <div><i>
    Regions of <b>low</b> {% include "prism_palette.j2" %} <b>high</b> precision, defined as the variability among the models that satisfy the input data and calculated as the density-weighted root mean-square fluctuation (RMSF) from the bead/atom center of density, annotated and visualized using PrISM. 
    The per-bead precision is computed from the deposited ensemble of superposed integrative models. 
    High- and low-precision regions are then determined by clustering beads of similar precision based on their proximity in the structure.
    Only coarse-grained beads (or CA atoms for atomic models) of deposited models are used for assessment and visualization, and three projections for each representative model are generated.
  </i></div>
  {% for k, v in prism_plots.items() %}
    <p class="ex2">PrISM analysis for Ensemble {{ k }} (models deposited/total: {{ v['deposited'] }}/{{ v['total'] }}).</p>
    <div align=center class="row">            
      <!-- span hack to avoid opacity in wkhtmltopdf dut to semi-transparent border  -->
      <span style="color: #FFFFFF">.</span>            
      {% for plot in v['plots'] %}
            <img src=../images/{{ plot }} width="30%">
      {% endfor %}
    </div>
  {% endfor %}
{% endif %}
