<!--
prism.j2 - Local precision (PrISM) assessment content

Copyright (C) 2025 Arthur Zalevsky <aozalevsky@gmail.com>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

{% if prism_plots|length > 0  %}
  <h4 class= ex2 align=center>
    <u><a name='prism'>4.2. PrISM Precision Analysis</a></u>
    {{ format_help("prism", current_task) }} 
  </h4>
  <div><i>
    Regions of <b>low</b> {% include "prism_palette.j2" %} <b>high</b> precision, defined as the variability among the models that satisfy the input data and calculated as the density-weighted root mean-square fluctuation (RMSF) from the bead/atom center of density, annotated and visualized using PrISM. 
    The per-bead precision is computed from the deposited ensemble of superposed integrative models. 
    High- and low-precision regions are then determined by clustering beads of similar precision based on their proximity in the structure.
    Only coarse-grained beads (or CA atoms for atomic models) of deposited models are used for assessment and visualization, and three projections for each representative model are generated.
  </i></div>
  {% for k, v in prism_plots.items() %}
    <p class="ex2">PrISM analysis for Ensemble {{ k }} (models deposited/total: {{ v['deposited'] }}/{{ v['total'] }}).</p>
    <div align=center class="row">            
      <!-- span hack to avoid opacity in wkhtmltopdf dut to semi-transparent border  -->
      <span style="color: #FFFFFF">.</span>            
      {% for plot in v['plots'] %}
            <img src=../images/{{ plot }} width="30%">
      {% endfor %}
    </div>
  {% endfor %}
{% endif %}
