<div class="card-body">
  <div class="row">
    <div class="col-lg-12">
      <p align="justify">
        <em>Integrative Modeling Validation Package: Version {{ version }}</em>
      </p>
    </div>
  </div>
</div>
