<!--
report_version.j2 - Current version of the report

Copyright (C) 2025 Arthur Zalevsky <aozalevsky@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/.
-->

{% from "macro.html" import format_value, format_help %}
<h4 align="center">
  <u><a name="representation">2.2. Representation</a></u> 
  {{ format_help("representation", current_task) }}
</h4>

<p align="justify">
  <i>This entry has {{ rep_info|length }} representation(s).</i>
</p>

<div id='rep_info'>
  <table class="table table-bordered" style="border-color:#003366;"> 
    <thead style="display: table-header-group;">
      <tr>
        <th align='center' class='text-center' style='vertical-align:middle'>ID</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Model(s)</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Entity ID</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Molecule name</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Chain(s) [auth]</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Total residues</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Rigid segments</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Flexible segments</th>
        <!-- <th>Model coverage (%)</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Starting model coverage (%)</th> -->
        <th align='center' class='text-center' style='vertical-align:middle'>Model coverage/<br>Starting model coverage<br>(%)</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Scale</th>
      </tr>
    </thead>
    <tbody>
      {% for rep in rep_info %}
        {% set cnt = [0] %}
        {% for chain in rep["Chains"].values() %}
          {% if cnt.append(cnt.pop() + chain["Chains"]|length) %}{% endif %}
        {% endfor %}

        {% for chain in rep['Chains'].values() %}
          {% set ccnt = chain["Chains"]|length %}
          <tr>
            {% if loop.first %}
              <td class="tdup" rowspan={{ cnt[0] }}>{{ rep['ID'] }} </td>
              <td class="tdup" rowspan={{ cnt[0] }}>{{ rep['Models']|join(", ") }}</td>
            {% endif %}
            
            {% for key, var in chain.items() %}
              {% if key == "Chains" %}
                <td class="tdup">{{ format_value(var[0]) }}</td>
              {% elif key == 'Model coverage' %}
                <td class="tdup" rowspan={{ ccnt }}>{{ format_value(var) }}/<br>{{ format_value(chain["Starting model coverage"]) }}</td>
              {% elif key == 'Starting model coverage' %}
                {# #}
              {% else %}
                <td class="tdup" rowspan={{ ccnt }}>{{ format_value(var) }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% for i in range(1, ccnt) %}
            <tr>
              <td class="tdup">{{ format_value(chain["Chains"][i]) }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
