<!--
report_version.j2 - Current version of the report

Copyright (C) 2025 Arthur Zalevsky <aozalevsky@gmail.com>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

{% from "macro.html" import format_value, format_help %}
<h4 align="center">
  <u><a name="representation">2.2. Representation</a></u> 
  {{ format_help("representation", current_task) }}
</h4>

<p align="justify">
  <i>This entry has {{ rep_info|length }} representation(s).</i>
</p>

<div id='rep_info'>
  <table class="table table-bordered" style="border-color:#003366;"> 
    <thead style="display: table-header-group;">
      <tr>
        <th align='center' class='text-center' style='vertical-align:middle'>ID</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Model(s)</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Entity ID</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Molecule name</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Chain(s) [auth]</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Total residues</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Rigid segments</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Flexible segments</th>
        <!-- <th>Model coverage (%)</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Starting model coverage (%)</th> -->
        <th align='center' class='text-center' style='vertical-align:middle'>Model coverage/<br>Starting model coverage<br>(%)</th>
        <th align='center' class='text-center' style='vertical-align:middle'>Scale</th>
      </tr>
    </thead>
    <tbody>
      {% for rep in rep_info %}
        {% set cnt = [0] %}
        {% for chain in rep["Chains"].values() %}
          {% if cnt.append(cnt.pop() + chain["Chains"]|length) %}{% endif %}
        {% endfor %}

        {% for chain in rep['Chains'].values() %}
          {% set ccnt = chain["Chains"]|length %}
          <tr>
            {% if loop.first %}
              <td class="tdup" rowspan={{ cnt[0] }}>{{ rep['ID'] }} </td>
              <td class="tdup" rowspan={{ cnt[0] }}>{{ rep['Models']|join(", ") }}</td>
            {% endif %}
            
            {% for key, var in chain.items() %}
              {% if key == "Chains" %}
                <td class="tdup">{{ format_value(var[0]) }}</td>
              {% elif key == 'Model coverage' %}
                <td class="tdup" rowspan={{ ccnt }}>{{ format_value(var) }}/<br>{{ format_value(chain["Starting model coverage"]) }}</td>
              {% elif key == 'Starting model coverage' %}
                {# #}
              {% else %}
                <td class="tdup" rowspan={{ ccnt }}>{{ format_value(var) }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% for i in range(1, ccnt) %}
            <tr>
              <td class="tdup">{{ format_value(chain["Chains"][i]) }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
