{% block navbar %}
  <!-- navbar -->
  <nav class="navbar navbar-expand-xl navbar-dark p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item mr-4">
          <a class="nav-link " href="/index.html"><span class="home">Home</span></a>
        </li>

        <li class="nav-item mr-4">
          <a class="nav-link " href="/about.html"><span class="about">About</span></a>
        </li>

        <li class="nav-item mr-4">
          <a class="nav-link " href="/deposit.html"><span class="deposit">Deposit</span></a>
        </li>

        <li class="nav-item mr-4">
          <a class="nav-link " href="/contact.html"><span class="contact">Contact</span></a>
        </li>

        <li class="nav-item mr-4">
          <a class="nav-link " href="/faq.html"><span class="faq">FAQ</span></a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
