<!--
summary.j2 - Content of the Overview section

Copyright (C) 2025 Arthur Zalevsky <aozalevsky@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/.
-->

{% from "macro.html" import format_value, format_help, write_table with context %}

<!-- Summary -->
<h4 align="center">
  <u><a name=summary>1.1. Summary</a></u>{{ format_help("summary", current_task) }}
</h4>

<p align="justify">
  <i>This entry consists of {{ number_of_models }} model(s). A total of {{ number_of_datasets|int }} dataset(s) were used to build this entry.</i>
</p>

{% if Datasets_summary|length > 0 %}
  {{ write_table(Datasets_summary) }} 
{% endif %}
