{% from "macro.html" import write_bullet %}
<!Template for writing Supplemental Table page>
<! ganesans - Salilab - UCSF>
<!ganesans@salilab.org>
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
      <style>
         table#t01 {
         border-collapse: collapse;
         width: 100%;
         table-layout:fixed;
         }
         td, th {
         border: 1px solid;
         text-align: left;
         padding: 12px;
         }
         tr:nth-child(even) {
         background-color: ;
         }
         table tr:first-child td {
         border-top: 0;
         }
         table tr td:first-child {
         border-left: 0;
         }
         table tr:last-child td {
         border-bottom: 0;
         }
         table tr td:last-child {
         border-right: 0;
         }
         img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         }
         body {
         /* height: 297mm;
         width: 210mm;
         margin-left: auto;
         margin-right: auto; */
         overflow-x: visible !important;
         }
         .center {
         text-align: center
         }
         .ex1 {
         margin-top: 50px;
         }
         .ex2 {
         margin-top: 30px;
         }
         hr {
/*         width: 120%; */
         height: 2px;
/*         margin-left: auto;
         margin-right: auto; */
         background-color:#666;
         border: 0 none;
         margin-top: 10px;
         margin-bottom:10px;
         }
      </style>
   </head>
   <body>
    {% set comma = joiner(", ") %}
    <h3 class="center">Summary of integrative structure determination of {{complex_name}} (
      {%- for k, v in ranked_id_list -%}
        {{ comma()}}{{ k ~": " ~ v }}
      {%- endfor -%}
      )
    </h3>
      <div class="ex1">
         <table ID=t01>
         <tr bgcolor ='silver'>
            <td><b><i>1. Model Composition</i></b></td>
            <td></td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtab">Entry composition</a></i></td>
            <td>
              {{ write_bullet(summary_entities) }}
            </td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabdata">Datasets used for modeling</a></i></td>
            <td>
              {% for dataset_ in Datasets_list[1:] %}
                {% if dataset_[2] == dataset_[3] == "Not available" %}
                  - {{ dataset_[1] }}, {{ dataset_[2] }}
                {% else %}
                  - {{ dataset_[1] }}, {{ dataset_[2] }}: {{ dataset_[3] }}
                {% endif %}
                <br>
              {% endfor %} 
            </td>
         </tr>
         <tr bgcolor = 'silver'>
            <td><b><i>2. Representation </i></b></td>
            <td></td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#numrepr">Number of representations</a></i></td>
            <td>
               {{ rep_info|length }}
            </td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabscale">Scale</a></i></td>
            <td>
               {{ write_bullet(summary_scale) }}
            </td>
         </tr>
         <tr>
            <td><i>Number of <a href="https://pdb-ihm.org/validation_help.html#sumtabrigid">rigid</a> and <a href="https://pdb-ihm.org/validation_help.html#sumtabflex">flexible</a> segments</i></td>
            <td>{{ write_bullet(summary_segments) }}</td>
         </tr>
<!--
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabatom">Structural coverage (rigid segments)</a></i></td>
            <td>{{ struc }}</td>
         </tr>
-->
         <tr bgcolor = 'silver'>
            <td><b><i>3. Restraints </i></b></td>
            <td></td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabresphys">Physical principles</a></i></td>
            <td>
              {{ write_bullet(physics) }} 
            </td>
         </tr>
         <tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabresexp">Experimental data</a></i></td>
            <td>
              {% for i in range(restraint_info|length) %}
                - {{ restraint_info[i][0] }} <br>
              {% endfor %}
            </td>
         </tr>
         <tr>
         <tr bgcolor = 'silver'>
            <td><b><i>4. Validation</i></b></td>
            <td></td>
         </tr>
         {% if sampling_validation is not none %}
           <tr>
             <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabval">Sampling validation</a></i></td>
             <td>
               {{ write_bullet(sampling_validation) }}
             </td>
           </tr>
          {% endif %}
<!--
          {% if clustering is not none %}
            <tr>
	            <td><i> <a href="https://pdb-ihm.org/validation_help.html#sumtabclus1">Clustering algorithm</a> ,<a href="https://pdb-ihm.org/validation_help.html#sumtabclus2">clustering feature</a></i></td>
	            <td>{{clustering}}, {{feature}}</td>
            </tr>
          {% endif %}
-->
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabnum1">Number of ensembles</a></i></td>
            <td>{{ num_ensembles }}</td>
         </tr>

         <tr>
           <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabnum2">Number of models in ensembles</a></i></td>
           <td>{{ models }}</td>
	       </tr>
         <tr>
           <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabnum2">Number of deposited models</a></i></td>
           <td>{{ number_of_models }}</td>
	       </tr>
         <tr>
            <td><i> <a href="https://pdb-ihm.org/validation_help.html#sumtabprec">Model precision (uncertainty of models)</a></i></td>
            <td>{{ write_bullet(model_precision) }}</td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabrvaldata">Data quality</a></i></td>
            <td>
              {{ write_bullet(Data_quality) }}
            </td>
         </tr>
         {% if disclaimer > 0 %}
           <tr>
             <td><i><a href="https://pdb-ihm.org/validation_help.html">Model quality</a></i></td>
             <td>
               Based on existing standards, there are no model quality assessments for this entry.
             </td>
           </tr>
         {% else %}
           {% if assess_atomic_segments is not none %}
             <tr>
               <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabvalatom">Model quality: assessment of atomic segments</a></i></td>
               <td>
                 {{ write_bullet(assess_atomic_segments) }}
               </td>
             </tr>
           {% endif %}
           {% if assess_excluded_volume is not none %}
             <tr>
               <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabvalexv">Model quality: assessment of excluded volume</a></i></td>
               <td>
                 {{ assess_excluded_volume }}
               </td>
             </tr>
            {% endif %}
         {% endif %}
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabfit1">Fit to data used for modeling</a></i></td>
            <td>
              {{ write_bullet(validation_input) }}
            </td>
         </tr>
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabfit2">Fit to data used for validation</a></i></td>
            <td>
              {{ write_bullet(cross_validation) }}
            </td>
         </tr>
         </tr>
         <tr bgcolor ='silver'>
            <td><b><i>5. Methodology and Software</i></b></td>
            <td></td>
         </tr>
         {% for i in range(method_info['Step number']|length) %} 
           <tr>
             <td><i>{{ i + 1 }}. <a href="https://pdb-ihm.org/validation_help.html#sumtabmetname">Name</a></i></td>
             <td>{{ method_info['Method name'][i] }}</td>
           </tr>
           {% if method_info['Number of computed models'][i] is not none %}
             <tr>
               <td><i> &nbsp; &nbsp; &nbsp; <a href="https://pdb-ihm.org/validation_help.html#sumtabmetmet">Method</a></i></td>
               <td>
                 {{ method_info['Method type'][i] }}
               </td>
             </tr>
           {% endif %}
           {% if method_info['Method description'][i] is not none %}
             <tr>
               <td><i> &nbsp; &nbsp; &nbsp; <a href="https://pdb-ihm.org/validation_help.html#sumtabmetdesc">Description</a></i></td>
               <td>
                 {{ method_info['Method description'][i] }}
               </td>
             </tr>
            {% endif %}
            {% if method_info['Number of computed models'][i] is not none %}
              <tr>
               <td><i> &nbsp; &nbsp; &nbsp; <a href="https://pdb-ihm.org/validation_help.html#sumtabmetnummodels">Number of computed models</a></i></td>
               <td>
                 {{ method_info['Number of computed models'][i] }}
               </td>
             </tr>
            {% endif %}
         {% endfor %}
         <tr>
            <td><i><a href="https://pdb-ihm.org/validation_help.html#sumtabsoft">Software</a></i></td>
            <td>
              {{ write_bullet(software) }}
            </td>
         </tr>
      </div>
   </body>
</html>

