<!Template for writing HTML(minimal use of bootstrap) for PDF version of the report>
<! ganesans - Salilab - UCSF>
<!ganesans@salilab.org>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PDB-Dev Validation Report Landing Page</title>
    <!-- add bootstrap css file -->
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css" media="screen, projection, print">
    <style>
        @charset "UTF-8";
            /* CSS Document */
            a {
            color: #669966;
            font-weight: 450;
            }
            a:hover {
            color:#5353c6;
            }
            .clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
            clear:both;
            height:0;
            font-size: 1px;
            line-height: 0px;
            }
            body {
            background-color: #FFFFFF ;
            margin: 0;
            padding: 0;
            }
            .home-header {
            display: show;
            }
           .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
img {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
}


         hr {
         width: 100%;
         height: 2px;
         margin-left: 10px;
         margin-right: 10px;
         background-color:#666;
         border: 0 none;
         margin-top: 10px;
         margin-bottom:10px;
         }


    </style>
    <script type="text/javascript" src="../../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src='../../../js/main.js'></script>
</head>

<body>

            <script>
            function Write_Table(list_to_write) {
                var mytable = "<div class='bs-example' class='text-center'> <table class='table table-bordered' style='border-color':#003366;> <thead> <tr>";
                for (var i = 0; i < list_to_write[0].length; i++) {
                    mytable += "<th align='center' class='text-center'>" + list_to_write[0][i] + "</th>";
                }
                mytable += "</tr></thead><tr>";

                for (var j = 1; j < list_to_write.length; j++) {
                    for (var i = 0; i < list_to_write[j].length; i++) {
                        mytable += "<td><div>" + list_to_write[j][i] + "</div></td>";
                    }
                    mytable += "</tr><tr>";

                }
                mytable += "</tr></table></div>";
                document.write(mytable);
            }
            </script>


    <div class="card-body border-success" style="border-color: solid black" align='center' ;>
              <div class="row">
            <div class="col-lg-12">
                <img src="../../../images/rcsb_logo.png" alt="PDB" align="center" style="width:20%">
                <p style=margin-bottom:1cm;> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header" style="background-color: #E4E4E4; height: 17rem;">
                    <h1 align="center">Full RCSB Integrative Structure Validation Report</h1>
                    <h2 align="center">{{date}}</h2>
                     <p><b> The following software were used in the production of this report:</b></p>
                    <ul style="list-style-type:none;">
                    <script>
                    var s = {{sphere}}
                    if (s < 1) {
                    var docx = "<li><em>Molprobity : Version 4.4</em></li>";
                    document.write(docx);
                     }
                    </script>
                  <li><em>Integrative Modeling Validation Package : Version 1.0</em></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="ex1">
            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="row">
                    <div class="col-lg-8 col-md-2">
                        <div class="card-header" style="background-color: #E4E4E4;">
                            <div class="bs-example" class="text-center">
                                <table class="table table-bordered" style="border-color:#003366; height: 16rem;">
                                    <thead>
                                        <tr>
                                            <th align="center" class="text-center">PDB ID</th>
                                            <th align="center" class="text-center">{{ID_T}}</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="align-middle" class="text-center">Molecule Name</td>
                                        <td class="align-middle" class="text-center">{{Molecule}} </td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle" class="text-center">Title</td>
                                        <td class="align-middle" class="text-center">{{Title}}</td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle" class="text-center">Authors</td>
                                        <td class="align-middle" class="text-center">{{Authors}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- end card-header -->
                    </div>
                    <!--end column-->
                </div>
                <!--end row-->
            </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header" style="background-color: #FFFFFF ;">
                    <h3 align="center"><a name='qual'>Overall quality</a></h3>
                    <div class="box text-center container-fluid no-padding" align='center'>
                        <script>
                        var section = '<iframe src=../images/' + {{ID_w}}  + 'quality_at_glance_MQ.svg onload=javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+px;}(this)); style=height:300px;width:100%;border:none;overflow:hidden;></iframe>'
                        document.write(section);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header" style="background-color: #FFFFFF ;">
                    <div class="box text-center container-fluid no-padding" align='center'>
                        <script>
                            if ({{sas}}.length > 0 && {{sasdb_sascif}}.length > 0) {

                        var section = '<iframe src=../images/' + {{ID_w}}  + 'quality_at_glance_DQ.svg onload=javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+px;}(this)); style=height:300px;width:100%;border:none;overflow:hidden;></iframe>'
                        document.write(section);}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header" style="background-color: #FFFFFF ; ">
                    <div class="box text-center container-fluid no-padding" align='center'>
                        <script>
                            if ({{number_of_fits}}  > 0 && {{sasdb_sascif}}.length > 0) {

                        var section = '<iframe src=../images/' + {{ID_w}}  + 'quality_at_glance_FQ.svg onload=javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+px;}(this)); style=height:300px;width:100%;border:none;overflow:hidden;></iframe>'
                        document.write(section);}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header" style="background-color: #FFF;">
                            <script>
                            var n = {{num_ensembles}};
                            var section = '<h4 align="center"><u><a name="ensemble">Ensemble information</a></u></h4>';
                            if (n < 2) {
                                section += '<p class ="ex2"><i>This entry consists of ' + n + ' distinct ensemble.</i></p>';
                                document.write(section);
                            } else {
                                section += '<p class ="ex2"><i>This entry consists of ' + n + ' distinct ensembles.</i></p>';
                                document.write(section);
                            }
                            if (n > 0) {
                                var input_list = None;
                                Write_Table(list_to_write = input_list)
                            }
                            var div1 = '</div></div></div></div>';
                            document.write(div1);

                            var div2 = '<div class="card-body border-success" style="border-color: solid black;"><div class="row"><div class="col-lg-12"><div class="card-header" style="background-color: #FFF;">'
                            document.write(div2);
                            var write1 = '';
                            write1 += '<h4 class="ex2" align="center"><u><a name=summary>Summary</a></u></h4>';


                            write1 += '<p align="justify"><i>This entry consists of ' + {{number_of_molecules}} + ' unique models, with ' + String({{num_chains}}) + ' subunits in each model. A total of ' + {{number_of_datasets}} + ' datasets or restraints was used to build this entry. Each model is represented by ' + String({{Rigid_Body}}) + ' rigid bodies and ' + String({{Flexible_Unit}}) + ' flexible or non-rigid units. </i> </p>';
                            document.write(write1);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header" style="background-color: #FFF;">
                            <h4 class="ex2" align="center"><u><a name='entry'>Entry composition</a></u> </h4>
                            <script>
                            function write_intro_1(input_variable) {
                                if (input_variable < 2) {
                                    var docx = "<i>There is " + input_variable + " unique type of model in this entry. </i>";
                                    document.write(docx);
                                } else {
                                    var docx = "<i>There are " + input_variable + " unique types of models in this entry.</i> ";
                                    document.write(docx);
                                }
                            }

                            function write_model_name(input_variable) {
                                if (input_variable.length < 2) {
                                    var docx = " <i>This model is titled " + input_variable[0] + " respectively. </i>"
                                    document.write(docx);
                                } else {
                                    var docx = "<i>These models are titled " + input_variable.join(', ') + " respectively.</i> "
                                    document.write(docx);
                                }
                            }

                            function write_intro_2(input_variable) {
                                if (input_variable.length < 2) {
                                    var docx = "<i>Model has " + input_variable.join() + " chains respectively.</i> "
                                    document.write(docx);
                                } else {
                                    var docx = "<i>Models have " + input_variable.join() + " chains respectively.</i> "
                                    document.write(docx);
                                }
                            }
                            write_intro_1(input_variable = {{number_of_molecules}})
                            write_model_name(input_variable = {{model_names}})
                            </script>
                            <script>
                            var input_list = {{Entry_list}};

                            Write_Table(list_to_write = input_list)
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start overall card body for front page -->
                <!-- start overall card body for front page -->
                <!-- start overall card body for front page -->
                <div class="card-body border-success" style="border-color: solid black;">
                    <!-- start overall card body for front page -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-header" style="background-color: #FFF;">
                                </script>
                                <h4 class="ex2" align="center">
                                    <u><a name="methods">Methodology and software</a></u></h2>
                                    <script>
                                    var n = {{Protocols_number}}
                                    if (n < 2) {
                                        var write_prot = "<i>This entry is a result of " + {{Protocols_number}} + " distinct protocol.</i>";
                                        document.write(write_prot);
                                    } else {
                                        var write_prot = "<i>This entry is a result of " + {{Protocols_number}} + " distinct protocols.</i>";
                                        document.write(write_prot);
                                    </script>
                                    <p class="ex2"> </p>
                                    <script>
                                    var input_list_3 = {{Sampling_list}};

                                    Write_Table(list_to_write = input_list_3)
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
<hr>



<hr>

            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="card-header" style="background-color: #FFF;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="ex2" align="center"><u><a name='first'>Data quality</a></u></h4>
                            <script>
                            if ({{sas}}.length > 0 && {{sasdb_sascif}}.length > 0) {
            var ex = "<h5 class= ex2 align= center><u><a name=firstI>Scattering profile</a></u> </h5>";
                                document.write(ex)
                                var sasdb_code_html={{sasdb_code_html}}     
                                var ex2 = '<p align=justify> SAS data used in this integrative model was obtained from '+String(sasdb_code_html.length) +' deposited SASBDB entry (entries).</p>';
                                document.write(ex2);
                             
                            var sasdb_code_html={{sasdb_code_html}}     
                            for (var i = 0; i < sasdb_code_html.length; i++) {
                            var ex3 ='<p align=justify> <u> Scattering profile for <a href=https://www.sasbdb.org/data/' + sasdb_code_html[i] + '/> '+ sasdb_code_html[i]+'</a>:</u> data from solutions of biological macromolecules are presented as both log I(q) vs q and log I(q) vs log (q) based on <a href=https://salilab.org/pdf/Trewhella_ActaCrystD_2017.pdf>SAS validation task force (SASvtf) recommendations.</a> I(q) is the intensity (in arbitrary units) and q is the modulus of the scattering vector. </p>'; 
                            document.write(ex3)

                            var ex4 ='<div class=row> <div class=col-lg-12> <div class=box text-center container-fluid no-padding align=center>';

                            ex4 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'intensities.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>';

                            document.write(ex4)

                            var ex5 ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center>';

                            ex5 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'intensities_log.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex5)
                            var ex6 ='</div></div> </div>';
                            ex6 +='<p style=margin-bottom:0.5cm;> </p>';
                            document.write(ex6)
                        }
                      
                        var divd='<p style=margin-bottom:1cm;> </p></div></div> <div class=card-body border-success style=border-color: solid black;><div class=row><div class=col-lg-12><div class=card-header style=background-color:#FFFFFF ;>'
                        document.write(divd)
                        var ex7 = "<h5 class= ex2 align= center> <u><a name=firstE>Key experimental estimates</a></u></h5>";
                        ex7 +='<p style=margin-bottom:0.5cm;> </p>';

                        ex7 += "<p class=ex2 align='justify'><u>Molecular weight (MW) estimates from experiments and analysis</u>: true molecular weight can be compared to the Porod estimate from scattering profiles. </p>";
                        document.write(ex7);
                        var input_list = {{parameters_mw}};
                        Write_Table(list_to_write = input_list)
                        var ex11 ='<p style=margin-bottom:0.5cm;> </p>';

                        ex11 += "<p class=ex2><u>Volume estimates from experiments and analysis</u>: estimated volume can be compared to Porod volume obtained from scattering profiles.</p>";
                                document.write(ex11)
                                var input_list = {{parameters_volume}};
                                Write_Table(list_to_write = input_list)

                        document.write(divd)
                        var ex12 = "<h5 class= ex2 align= center><u><a name=firstF> Flexibility analysis</a> </u></h5>";
                                document.write(ex12)
                            var sasdb_code_html={{sasdb_code_html}}     
                            for (var i = 0; i < sasdb_code_html.length; i++) {
                            var ex13 ='<p align=justify> <u> Flexibility analysis for '+ sasdb_code_html[i]+'</u>: In a Porod-Debye plot, a clear plateau is observed for globular (partial or fully folded) domains, whereas, fully unfolded domains are devoid of any discernable plateau. For details, refer to Figure 5 in <a href=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3103662/>Rambo and Tainer, 2011</a>. In a Kratky plot, a parabolic shape is observed for globular (partial or fully folded) domains and a hyperbolic shape is observed for fully unfolded domains. </p>'; 
                            document.write(ex13)

                            var ex14 ='<div class=row> <div class=col-lg-12> <div class=box text-center container-fluid no-padding align=center style=height:60vh>';
                            ex14 +='<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'porod.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>'
                            document.write(ex14)

                            var ex15 ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center style=height:60vh >';
                            ex15 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'Kratky.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex15)
                            var ex16 ='</div></div> </div>';
                            ex16 +='<p style=margin-bottom:0.5cm;> </p>';
                            document.write(ex16)
                        }
                            document.write(divd)
                             var ex17 = "<h5 align= center><u><a name=firstP>Pair-distance distribution analysis</a></u></h5>";
                                document.write(ex17)
                                var ex18 ='<p style=margin-bottom:0.5cm;> </p>';

                                ex18 += "<p class=ex2 align='justify'><u> P(r) analysis:</u> p(r) represents the distribution of distances between all pairs of atoms within the particle weighted by the respective electron densities. p(r) is the Fourier transform of I(s) (and vice versa). Rg can be estimated from integrating the p(r) function. Agreement between the p(r) and Guinier-determined Rg (table below) is a good measure of the self-consistency of the SAS profile. Rg is a measure for the overall size of a macromolecule; e.g. a protein with a smaller Rg is more compact than a protein with a larger Rg, provided both have the same molecular weight (MW). The point where p(r) is decaying to zero is called Dmax and represents the maximum size of the particle.</p>";
                                ex18 +='<p style=margin-bottom:0.5cm;> </p>';
                                document.write(ex18);
                                var input_list = {{pddf_info}};
                                Write_Table(list_to_write = input_list)

                            for (var i = 0; i < sasdb_code_html.length; i++) {
                            var ex19 ='<p align=justify> <u> P(r) for '+ sasdb_code_html[i]+':</u> The value of P(r) should be zero beyond r=Dmax. </p>'; 
                            document.write(ex19)
                            var ex20 ='<div class=row> <div class=col-lg-12> <div class=box text-center container-fluid no-padding  align=center style=height:60vh>';
                            ex20 +='<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'pddf.svg  frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>'
                            document.write(ex20)

                            var ex21 ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center style=height:60vh >';
                            ex21 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'pddf_int.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex21)

                            var ex21a ='<p align=justify> <u> Residuals and error weighted residuals for P(r) analysis for  '+ sasdb_code_html[i]+'</u>: Residual value plot is a measure to assess fit to the data. sResidual values should be equally and randomly spaced around the horizontal axis.</p>'; 
                            document.write(ex21a)

                            var ex21b ='<div class=row> <div class=col-lg-12> <div class=box text-center container-fluid no-padding align=center style=height:60vh>';
                            ex21b +='<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'pddf_residuals.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>'
                            document.write(ex21b)

                            var ex21c ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center style=height:60vh >';
                            ex21c += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'pddf_residuals_wt.svg frameborder=0 scrolling=yes width=70% height=550vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex21c)


                            var ex22 ='</div></div> </div>';
                            ex22 +='<p style=margin-bottom:0.5cm;> </p>';
                            document.write(ex22)
                        }

                        var ex23 = "<h5 class= ex2 align= center><u><a name=firstG> Guinier analysis </a></u></h5>";
                                document.write(ex23)
                                var ex24 ='<p style=margin-bottom:0.5cm;> </p>';
                                ex24 += "<p class=ex2 align='justify'><u> Guinier analysis:</u> agreement between the p(r) and Guinier-determined Rg (table below) is a good measure of the self-consistency of the SAS profile. Molecular weight estimates can also be compared to Porod and sample molecular weights for consistency.</p>";
                                ex24 +='<p style=margin-bottom:0.5cm;> </p>';
                                document.write(ex24);
                                var input_list = {{rg_table}};
                                Write_Table(list_to_write = input_list)
                                                             
                            for (var i = 0; i < sasdb_code_html.length; i++) {
                            var ex25 ='<p align=justify> <u> Guinier analysis for '+ sasdb_code_html[i]+': </u> the linearity of the Guinier plot is a sensitive indicator of the quality of the experimental SAS data; a linear Guinier plot is a necessary but not sufficient demonstration that a solution contains monodisperse particles of the samesize. Deviations from linearity usually point to strong interference effects, polydispersity of the samples or improper background subtraction. Residual value plot and coefficient of determination (R<sup>2</sup>) are measures to assess linear fit to the data. A perfect fit has an R<sup>2</sup> value of 1. Residual values should be equally and randomly spaced around the horizontal axis. </p>'; 
                            document.write(ex25)

                            var ex26 ='<div class=row> <div class=col-lg-12> <div class=box text-center container-fluid no-padding align=center style=height:60vh>';
                            ex26 +='<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'guinier.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>'
                            document.write(ex26)

                            var ex27 ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center style=height:60vh >';
                            ex27 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+'guinier_residuals.svg frameborder=0 scrolling=yes width=70% height=500vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex27)
                            var ex28 ='</div></div> </div>';
                            ex28 +='<p style=margin-bottom:0.5cm;> </p>';
                            document.write(ex28)
                        }
                    } else if ({{sas}}.length > 0 && {{sasdb_sascif}}.length <1) {

                                var ex = "<h5 class= ex2 align= center><u><a name=firstI>SAS:Scattering profile</a></u> </h5>";
                                document.write(ex)
                                var ex2 = '<p align=justify> SAS data used in this integrative model could not be validated as the sascif file is currently unavailable. </p>';
                                document.write(ex2);

                             }

                </script>
                    <p style="margin-bottom:0.5cm;"> </p>
                </div> <!-- end card body-->
            </div>

<hr>
            <!-- scripts -->
            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header" style="background-color: #FFF;">
                            <h4 align="center"><u>Model quality</u></h4>
                            <script>
                            var sphere = {{sphere}}
                            var disclaimer= {{disclaimer}}

                            if (sphere > 0) {
                                var ex = "<h5 class= ex2 align= left>Excluded volume satisfaction</h5>";
                                ex += "<i> Excluded volume satisfaction for the models in the entry are listed below. </i>";
                                document.write(ex);
                                var space = '<p class="ex2"> </p>';
                                document.write(space);
                                Write_Table(list_to_write = {{excluded_volume}})
                                document.write(space);
                            }
                            if (disclaimer > 0) {
                                var space = '<p class="ex2"> </p>';
                                document.write(space);
                                var ex2 = "<i> NOTE: Based on existing standards, there are no model quality assessments for this entry.</i>";
                                document.write(ex2);
                                var space = '<p class="ex2"> </p>';
                                document.write(space); }

                            </script>
                            <script>
                            if ({{sphere}}< 1) {
                                var intro = "<h5 class= ex2 align= center><u><a name='geometry'>Standard geometry</a></u></h5>";
                                intro += "<i> There are " + {{bond}} + " bond outliers in this entry. </i>";
                                document.write(intro);
                                var space = '<p class="ex2"> </p>';
                                document.write(space);
                                if ({{molp_b}}.length > 1) {
                                    Write_Table(list_to_write = {{molp_b}})

                                    document.write(space);
                                }
                                var intro2 = "<i> There are " + {{angle}} + " angle outliers in this entry.  </i>";
                                document.write(intro2);
                                document.write(space);
                                if ({{molp_a}}.length > 1) {
                                    Write_Table(list_to_write = {{molp_a}})
                                    document.write(space);
                                }

                                var docx = "<h5 class= ex2 align= center><u><a name='contacts'>Too-close contacts</a></u></h5>";
                                docx += "<p align='justify'><i> The following all-atom clashscore is based on a MolProbity analysis. All-atom clashscore is defined as the number of clashes found per 1000 atoms (including hydrogen atoms). The table below contains clashscores for all the models in this entry. </i></p>";
                                document.write(docx);
                                document.write(space);
                                if ({{clashscore_list}}.length > 1) {
                                    Write_Table(list_to_write = {{clashscore_list}})
                                    document.write(space);
                                }


                                var text1 = "<i> All " + {{tot}} + " close contacts within the same asymmetric unit are listed below, sorted by their clash magnitude.</i>";
                                document.write(text1);
                                document.write(space);
                                if ({{clashlist}}.length > 1) {
                                    Write_Table(list_to_write = {{clashlist}})
                                    document.write(space);
                                }

                                var text2 = "<h5 class=ex2 align= center><u><a name='torsion'>Torsion angles: Protein backbone</a></u></h5>";
                                text2 += "<p align='justify'><i> In the following table, Ramachandran outliers are listed. The Analysed column shows the number of residues for which the backbone conformation was analysed. </i></p>"
                                document.write(text2);
                                document.write(space);
                                if ({{ramascore}}.length > 1) {
                                    Write_Table(list_to_write = {{ramascore}})
                                    document.write(space);
                                }


                                var text4 = "<i> Detailed list of outliers are tabulated below. </i>";
                                document.write(text4);
                                document.write(space);
                                if ({{ramalist}}.length > 1) {
                                    Write_Table(list_to_write = {{ramalist}})
                                    document.write(space);
                                }


                                var text3 = "<h5 class=ex2 align=center><u><a name='outliers'>Ramachandran outliers: Protein sidechains</a></u></h5>";
                                text3 += "<i> In the following table, sidechain outliers are listed. The Analysed column shows the number of residues for which the sidechain conformation was analysed. </i>"
                                document.write(text3);
                                document.write(space);
                                if ({{rotascore}}.length > 1) {
                                    Write_Table(list_to_write = {{rotascore}})
                                    document.write(space);
                                }


                                var text4 = "<i> Detailed list of outliers are tabulated below. </i>";
                                document.write(text4);
                                document.write(space);
                                if ({{rotalist}}.length > 1) {
                                    Write_Table(list_to_write = {{rotalist}})
                                    document.write(space);
                                }


                            }
                            </script>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
            </div>
<hr>
            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="card-header" style="background-color: #FFF; height=18rem">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="ex2" align="center"> <u><a name='first'>Fit of model to data used for modeling</a></u></h4>
                            <script>
                            if ({{sas}}.length > 0 && {{sasdb_sascif}}.length > 0) {
                                var ex = "<h5 class= ex2 align= center><u> Fit of model(s) to SAS data</u></h5>";
                                document.write(ex)
                            }
                            if ({{sasdb_sascif}}.length < 1) {
                             var ex2 = '<p align=justify> SAS data used in this integrative model could not be validated as the sascif file is currently unavailable. </p>';
                                document.write(ex2);
                            }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start overall card body for front page -->
            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="card-header" style="background-color: #FFF; height=18rem">
                    <div class="row">
                        <div class="col-lg-12">
                            <script>
                            if ({{sas}}.length > 0 && {{sasdb_sascif}}.length > 0) {
                                if ({{number_of_fits}} > 0) {
                                    var ex2 = "<h5 class= ex2 align= center><u> \u03C7\u00b2 goodness of fit analysis </u></h5>";
                                    ex2 += "<p class =ex2><i>Model and fits displayed below were obtained from SASBDB. \u03C7\u00b2 values are a measure of fit of the model to data. A perfect fit has a \u03C7\u00b2 value of zero.</i>";
                                    document.write(ex2)
                                    var input_list = {{chi_table}};
                                    Write_Table(list_to_write = input_list)
                                } else {
                                    var ex2 = "<h5 class= ex2 align= center><u> \u03C7\u00b2 goodness of fit analysis </u></h5>";
                                    ex2 += "<i>Model(s) and/or fit for this entry has not been deposited.  </i>";
                                    document.write(ex2);
                                }
                            } else {
                            var ex = "<h5 class= ex2 align= center><u><a name=firstI> Model satisfaction to be detemined.</a></u> </h5>";
                                document.write(ex)
                             }

                            
                            </script>
                        </div>
                    </div>

                    <script>
                            if ({{sas}}.length > 0 && {{sasdb_sascif}}.length > 0) {
                            var sasdb_code_html={{sasdb_code_html}}  
                            var sasdb_code_fits={{sasdb_code_fits}}   
                            for (var i = 0; i < sasdb_code_html.length; i++) {
                                for (var j=0; j<sasdb_code_fits[i]; j++) {
                                var k=j+1
                            var ex3 ='<p align=justify align=center> <u> Model fit for '+ sasdb_code_html[i]+' (fit/model number '+String(k) +'):</u> Residual value plot is a measure to assess fit to the data. sResidual values should be equally and randomly spaced around the horizontal axis. </p>'; 
                            document.write(ex3)

                            var ex4 ='<div class=row> <div class=col-lg-12> <div class=box text-center container-fluid no-padding align=center style=height:60vh >';
                            ex4 +='<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+String(j)+'fit1.svg frameborder=0 scrolling=yes width=70% height=550vh  style=position:relative onload=resizeIframe(this)></iframe>'
                            document.write(ex4)

                            var ex5 ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center style=height:60vh  >';
                            ex5 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+ String (j)+'residuals.svg frameborder=0 scrolling=yes width=70% height=550vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex5)

                            var ex6 ='</div></div> <div class=col-lg-12><div class=box text-center container-fluid no-padding align=center style=height:60vh  >';
                            ex6 += '<iframe src=../images/' + {{ID_w}} + sasdb_code_html[i]+ String (j)+'residuals_wt.svg frameborder=0 scrolling=yes width=70% height=550vh  style=position:relative onload=resizeIframe(this)></iframe>';
                            document.write(ex6)

                            var ex7 ='</div></div> </div>';
                            ex7 +='<p style=margin-bottom:0.5cm;> </p>';
                            document.write(ex7)
                        }
                    }
                }
                </script>

                    </script>
                    <p style="margin-bottom:0.5cm;"> </p>

                    <div class="row">
                        <div class="col-lg-12">
                            <script>
                            if ({{sas}}.length > 0 && {{sasdb_sascif}}.length > 0) {
                                if ({{number_of_fits}} > 0) {
                                    var ex2 = "<h5 class= ex2 align= center><u> Cormap p-value analysis of fits </u></h5>";
                                    ex2 += "<p class =ex2><i>ATSAS datcmp was used for hypothesis testing. <i>All data sets are similar (i.e. the fit and the data collected) </i> is the null hypothesis. p-value is a measure of evidence against the null hypothesis, smaller the value, the stronger the evidence that you should reject the null hypothesis. </i>";
                                    document.write(ex2)
                                    var input_list = {{p_val}};
                                    Write_Table(list_to_write = input_list)
                                } else {
                                    var ex2 = "<h5 class= ex2 align= center><u> Cormap p-value analysis of fits </u></h5>";
                                    ex2 += "<i>Model(s) and/or fit for this entry has not been deposited.  </i>";
                                    document.write(ex2);
                                }
                            }
                            </script>

                    <p style="margin-bottom:0.5cm;"> </p>
                </div> <!-- end card body-->
            </div>
<hr>

            <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="card-header" style="background-color: #FFF; height=18rem">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="ex2" align="center"> <u><a name='first'>Fit of model to data not used for modeling</a></u></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        <div class="card-body border-success" style="border-color: solid black;">
                <!-- start overall card body for front page -->
                <div class="card-header" style="background-color: #FFF; height=18rem">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="ex2" align="center"> <u><a name='first'>Uncertainty of data and model </a></u></h4>
                        </div>
                    </div>
                </div>
            </div>




    <script src="../../../js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../../../js/popper1.12.9.min.js" type="text/javascript"></script>
    <script src="../../../js/bootstrap4.1.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../js/bootstrap3-typeahead.min.js"></script>
    </div>
</body>

</html>
