{% extends "layout.html" %}

{% block navbar %}
  <!-- Main navbar -->
  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class="dropdown">
      <a class="navbar-brand" href="main.html">
        <h5>
          Validation Report for {{ ID }}
        </h5>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <!-- Secondary navbar -->
  <nav class="navbar navbar-expand-xl navbar-dark p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        
        <!-- About validation -->
        <li class="nav-item mr-4 dropdown">
          <a class="btn btn-primary " href="/about_validation.html"><span class="overview">About <br> Validation</span></a>
        </li>
        <li class="nav-item mr-4 dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location='main.html';>Validation <br> Overview</button></a>
          <div class="dropdown-menu">
            <a class="dropdown-item colorclass" href="main.html#qual">Overall quality</a>
          </div>
        </li>
        
        <!-- Model details -->
        <li class="nav-item mr-4 dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location='model_composition.html';>Model <br> Details </button></a>
          <div class="dropdown-menu">
            <a class="dropdown-item colorclass" href="model_composition.html#ensemble">Ensemble information</a>
            <a class="dropdown-item colorclass" href="model_composition.html#summary">Summary</a>
            <a class="dropdown-item colorclass" href="model_composition.html#representation">Representation</a>
            <a class="dropdown-item colorclass" href="model_composition.html#data">Datasets used</a>
            <a class="dropdown-item colorclass" href="model_composition.html#methods">Methods and software</a>
          </div>
        </li>
        
        <!-- Model details -->
        <li class="nav-item mr-4 dropdown">
          {% if (('SAS DATA' in Data) and enable_sas ) or (enable_cx and cx_data_quality) %}
            <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location="data_quality.html";>Data <br> Quality </button></a>
                
          {% elif (('SAS DATA' not in Data) or not enable_sas) and Unique_dataset|length > 0 %}
            <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary">Data <br> Quality </button></a>
                    
          {% else %}
            <a class="btn btn-success dropdown-toggle button4" value="Disabled" disabled background-color: #555555 ><span >Data <br>Quality</span></a>
          {% endif %}
  
          <div class="dropdown-menu">
            {% if ('SAS DATA' in Data) and (sasdb_sascif|length > 0) and enable_sas %}
              <a class="dropdown-item colorclass" dropdown-toggle  href=data_quality.html#first>SAS</a>
              <ul class=dropdown-submenu>                  
                <li>
                  <a class=dropdown-item2 href=data_quality.html#firstI>Scattering profiles</a>
                </li>
                
                <li>
                  <a class=dropdown-item2 href=data_quality.html#firstE>Experimental estimates</a>
                </li>
                
                <li>
                  <a class=dropdown-item2 href=data_quality.html#firstF>Flexibility analysis </a>
                </li>
  
                <li>
                  <a class=dropdown-item2 href=data_quality.html#firstP>p(r) analysis </a>
                </li>
  
                <li>
                  <a class=dropdown-item2 href=data_quality.html#firstG>Guinier analysis </a>
                </li>
              </ul>
            {% elif ('SAS DATA' in Data) and (sasdb_sascif|length < 1) and enable_sas %}
              <a class="dropdown-item colorclass" dropdown-toggle type=button href=data_quality.html#first>SAS</a>
            {% endif %}
            
            {% if (enable_cx and cx_data_quality) %}
                <a class="dropdown-item colorclass" dropdown-toggle  href=data_quality.html#crosslinking-ms>Crosslinking-MS</a>
                <ul class=dropdown-submenu>                  
                  {% for data in cx_data_quality %}
                    <li>
                      <a class=dropdown-item2 href=data_quality.html#{{ data["pride_id"] }}>{{ data["pride_id"] }}</a>
                    </li>
                  {% endfor %}
                </ul>
            {% endif %}
              
            {% for item in Unique_dataset %}
              <a class=dropdown-item-text dropdown-toggle type=button>{{item}}</a>
            {% endfor %}
          </div>
        </li>
  
        <!-- Model quality -->
        <li class="nav-item mr-4 dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location='model_quality.html';>Model <br> Quality </button></a>
          <div class="dropdown-menu">
            {% if cg %}
              <a class="dropdown-item colorclass" href=model_quality.html#ex>Excluded volume</a>
            {% endif %}
            {% if atomic and molprobity_data is not none %}
              <a class="dropdown-item colorclass" href=model_quality.html#geometry1>Standard geometry:<br>bond outliers</a>
              <a class="dropdown-item colorclass" href=model_quality.html#geometry2>Standard geometry:<br> angle outliers</a>
              <a class="dropdown-item colorclass" href=model_quality.html#contacts>Close contacts</a>
              <a class="dropdown-item colorclass" href=model_quality.html#torsion>Torsion angles: protein <br>backbone </a>
              <a class="dropdown-item colorclass" href=model_quality.html#outliers>Torsion angles: protein <br>sidechain </a>
            {% endif %}
            {% if prism_plots|length > 0  %}
              <a class="dropdown-item colorclass" href=model_quality.html#prism>Precision analysis</a>
            {% endif %}
          </div>
        </li>
        
        <!-- Fit to data used for modeling -->
        <li class="nav-item mr-4 dropdown">
          {% if (('SAS DATA' in Data) and enable_sas) or (enable_cx and cx_stats) %}
            <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary" onclick=window.location="formodeling.html";>Fit to Data <br> Used for Modeling </button></a>
                
          {% elif Unique_dataset|length > 0 %}
            <a class="dropdown-toggle"  data-toggle="dropdown"><button type="button" class="btn btn-primary";>Fit to Data <br> Used for Modeling </button></a>
              
          {% else %}
            <a class="btn btn-success dropdown-toggle button4" value="Disabled" disabled background-color: #555555 ><span >Fit to Data <br>Used for Modeling</span></a>
          {% endif %}
          
  				<div class="dropdown-menu">
            {% if ('SAS DATA' in Data) and (sasdb_sascif|length > 0) and enable_sas %}
              <a class="dropdown-item colorclass" dropdown-toggle href=formodeling.html>SAS</a>
              <ul class=dropdown-submenu>
                <li>
                  <a class=dropdown-item2 href=formodeling.html#first>Goodness of fit</a>
                </li>
                <li>
                  <a  class=dropdown-item2 href=formodeling.html#second>Cormap analysis </a>
                </li>
              </ul>
            {% elif ('SAS DATA' in Data) and (sasdb_sascif|length < 1) and enable_sas%}
              <a class=dropdown-item dropdown-toggle type=button href=data_quality.html#first>SAS</a>
            {% endif %}
            
						{% if (enable_cx and cx_stats) %}
              <a class="dropdown-item colorclass" dropdown-toggle href=formodeling.html#crosslinking-ms>
                Crosslinking-MS
              </a>

              <ul class=dropdown-submenu>
                <li>
                  <a class=dropdown-item2 href=formodeling.html#crosslinking-ms_ertypes>
                    Restraint types
                  </a>
                </li>
                <li>
                  <a class=dropdown-item2 href=formodeling.html#crosslinking-ms_satisfaction>
                    Satisfaction of restraints
                  </a>
                </li>
              </ul>
            {% endif %}
  					
            {% for item in Unique_dataset %}
              <a class=dropdown-item-text dropdown-toggle type=button>{{item}}</a>
            {% endfor %}
          </div>
        </li>
  
        <!-- Fit to data used for validation -->
        <li class="nav-item mr-4 dropdown">
          <a class="btn button4" value="Disabled" disabled background-color: #555555 ><span >Fit to Data <br>Used for Validation</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item-text" dropdown-toggle type=button >Data</a>
          </div>
        </li>
        <li class="nav-item mr-4 dropdown">
          <a class="btn btn-primary " href="/validation_help.html"><span class="overview">Validation <br> Help</span></a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
