<p>
  <em>The following software was used in the production of this report:</em>
</p>
<ul style="list-style-type:none;">
  
  <li><em><a href='https://github.com/salilab/IHMValidation'>Integrative Modeling Validation</a> Version {{ report_version }}</em></li>

  <li><em><a href='https://github.com/ihmwg/python-ihm'>Python-IHM</a> Version {{ python_ihm_version }}</em></li>

  {% if molprobity_version is not none %}
    <li><em><a href='http://molprobity.biochem.duke.edu/'>MolProbity</a> Version {{ molprobity_version }}</em></li>
  {% endif %}

  {% if atsas_version is not none %}
    <li><em><a href='https://www.embl-hamburg.de/biosaxs/software.html'>ATSAS</a> Version {{ atsas_version }}</em></li>
  {% endif %}
  
  {% if pyhmmer_version is not none %}
    <li><em><a href='https://pyhmmer.readthedocs.io/en/stable/'>pyHMMER</a> Version {{ pyhmmer_version }}</em></li>
  {% endif %}

  {% if pymol_version is not none %}
    <li><em><a href='https://pymol.org/'>PyMOL</a> Version {{ pymol_version }}</em></li>
  {% endif %}

</ul>
