<!--
report_version.j2 - Current version of the report

Copyright (C) 2025 Arthur Zalevsky <aozalevsky@gmail.com>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<p>
  <em>The following software was used in the production of this report:</em>
</p>
<ul style="list-style-type:none;">
  
  {# IHM #}
  
  <li><em><a href='https://github.com/salilab/IHMValidation'>IHMValidation</a> Version {{ report_version }}</em></li>

  <li><em><a href='https://github.com/ihmwg/python-ihm'>Python-IHM</a> Version {{ python_ihm_version }}</em></li>

  {# MolProbity #}

  {% if molprobity_version is defined %}
    <li><em><a href='http://molprobity.biochem.duke.edu/'>MolProbity</a> Version {{ molprobity_version }}</em></li>
  {% endif %}
  
  {# SAS #}

  {% if freesas_version is defined %}
    <li><em><a href='https://freesas.readthedocs.io/en/latest/FreeSAS.html'>FreeSAS</a> Version {{ freesas_version }}</em></li>
  {% endif %}

  {# Crosslinking MS #}
 
  {% if pyhmmer_version is defined %}
    <li><em><a href='https://pyhmmer.readthedocs.io/en/stable/'>pyHMMER</a> Version {{ pyhmmer_version }}</em></li>
  {% endif %}
  
  {# 3DEM #}
  
  {% if va_version is defined %}
    <li><em><a href='https://www.ebi.ac.uk/emdb/va/'>EMDB validation analysis</a> Version {{ va_version }}</em></li>
  {% endif %}
  
  {% if chimerax_version is defined %}
    <li><em><a href='https://www.cgl.ucsf.edu/chimerax/'>ChimeraX</a> Version {{ chimerax_version }}</em></li>
  {% endif %}
  
  {% if chimera_version is defined %}
    <li><em><a href='https://www.cgl.ucsf.edu/chimera/'>Chimera</a> Version {{ chimera_version }}</em></li>
  {% endif %}
  
  {% if mapq_version is defined %}
    <li><em><a href='https://github.com/gregdp/mapq'>MapQ</a> Version {{ mapq_version }}</em></li>
  {% endif %}
  
  {# PrISM #}

  {% if prism_version is defined %}
    <li><em><a href='https://github.com/aozalevsky/prism'>PrISM</a> Version {{ prism_version }}</em></li>
  {% endif %}

  {% if pymol_version is defined %}
    <li><em><a href='https://pymol.org/'>PyMOL</a> Version {{ pymol_version }}</em></li>
  {% endif %}

</ul>
