<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PDB-Dev Validation Report Landing Page</title>
    <!-- add bootstrap css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        @charset "UTF-8";
            /* CSS Document */
            a {
            color: #333399;
            font-weight: 450;
            }
            a:hover {
            color:#5353c6;
            }
            .clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
            clear:both;
            height:0;
            font-size: 1px;
            line-height: 0px;
            }
            body {
            background-color: #669966
            margin: 0;
            padding: 0;
            }
            .home-header {
            display: show;
            }
           .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


    </style>
</head>

<body style="background-color: #669966; ">
    <!-- header -->
    <!-- header -->
    <div class="container-fluid">
        <div class="card" style="border: none; margin-bottom: 0px; margin-right: 10px; margin-left: 30px; ">
            <div class="float-left"><b><span id="siteid"></span></b></div>
            <div class="card-body" style="padding: 0px 0px;background-color: rgba(102,153,102, 0.5); ">
                <div class="row">
                    <div class=" col-sm-9" style="margin-left: 0px;">
                        <a href="https://pdb-dev.wwpdb.org/">
                            <img src="../../static/webimages/logon.png" class="float-left" alt="PDBDEV.org" height="100" width="110" style="margin-top: 10px; margin-bottom: 10px" />
                            <p>
                                <h1 style="margin-left: 0px; color: #003366;">PDB-Dev</h1>
                                <h5 class="float-left" style="color: #003366;">Prototype Archiving System for Integrative Structures</h5>
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-3 d-flex align-items-end" style="margin-top: 0px;">
                        <h5 class="home-header ml-auto" style="margin-right:27px; color:#003366"><b><small>Released Entries: 36</small></b></h5>
                    </div>
                </div>
            </div>
            <!--end panel body-->
            <!-- navbar -->
            <nav class="navbar navbar-expand-xl navbar-dark">
                <div class="dropdown">
                    <a class="navbar-brand" href="introduction.html">
                        <h5>User guide for IHM table</h5>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="card-body">
                <!-- start overall card body for front page -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header" style="background-color: #003366; height: 3rem; font-color: white" align="center">
                        <a class="navbar-brand" href="definitions.html" style='color: #fff';>
                                <h5 align="center">Table of contents</h5>
                                </a>
                        </div>
                    </div>
                        <p style=margin-bottom:1cm;> </p>

                        <div class="col-lg-12">
                        <div class="card-header" style="background-color: #E4E4E4; height: 50rem;">

                                <UL style="list-style: none;">
                                    <LI>
                                            <h6><a href="#modelcomposition"><i>1. Model composition </i></a></h6>
                                    </LI>
                                        <UL style="list-style: none;">
                                            <LI>
                                                    <h6><a href="#entrycomposition"><i>1.1. Entry composition</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#datasets"><i>1.2. Datasets used for modeling</i></a></h6>
                                            </LI>
                                        </UL>
                                    <LI>
                                            <h6><a href="#representation"><i>2. Representation</i></a></h6>
                                    </LI>
                                        <UL style="list-style: none;">
                                            <LI>
                                                    <h6><a href="#coverage"><i>2.1. Atomic structural coverage</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#rigid"><i>2.2. Rigid bodies</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#flex"><i>2.3. Flexible units</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#interface"><i>2.4. Interface units</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#resolution"><i>2.5. Resolution</i></a></h6>
                                            </LI>
                                        </UL>
                                    <LI>
                                            <h6><a href="#restraints"><i>3. Restraints</i></a></h6>
                                    </LI>
                                        <UL style="list-style: none;">
                                            <LI>
                                                    <h6><a href="#physical"><i>3.1. Physical restraints</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#expt"><i>3.2. Experimental information</i></a></h6>
                                            </LI>
                                        </UL>
                                    <LI>
                                            <h6><a href="#validation"><i>4. Validation</i></a></h6>
                                    </LI>
                                        <UL style="list-style: none;">
                                            <LI>
                                                    <h6><a href="#sampling"><i>4.1. Sampling validation</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#clusalgo"><i>4.2. Clustering algorithm</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#clusfeat"><i>4.3. Clustering feature</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#ensnum"><i>4.4. Number of ensembles</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#ensmod"><i>4.5. Number of models in ensembles</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#modpre"><i>4.6. Model precision</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#dataqual"><i>4.7. Quality of data</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#modqual"><i>4.8. Model Quality</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#atomic"><i>4.9. Assessment of atomic segments</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#exv"><i>4.10. Excluded volume satisfaction</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#fit2input"><i>4.11. Fit of the model to information used to compute it</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#cross"><i>4.12. Fit of the model to information not used to compute it</i></a></h6>
                                            </LI>
                                        </UL>
                                    <LI>
                                            <h6><a href="#method"><i>5. Methodology and software</i></a></h6>
                                    </LI>
                                        <UL style="list-style: none;">
                                            <LI>
                                                    <h6><a href="#methname"><i>5.1. Method name</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#methdet"><i>5.2. Method details</i></a></h6>
                                            </LI>
                                            <LI>
                                                    <h6><a href="#software"><i>5.3. Software</i></a></h6>
                                            </LI>
                                        </UL>
                                    </UL>
                                </div>
                                <p style=margin-bottom:1cm;> </p>

                            </div>


                        <div class="col-lg-12">
                        <div class="card-header" style="background-color: #E4E4E4; height: 160rem;">
                            <div class="ex2">
                                The wwPDB integrative structure (IM) validation reports are prepared according to the recommendations of the <a href="https://pubmed.ncbi.nlm.nih.gov/31780431/">wwPDB Integrative/Hybrid Methods (IHM) Task Force  </a>. The report summarises the quality of the structure and includes measures of the quality of the data on which the structures were based, the standard criteria for assessing atomic models, the fit of a model to information used to compute it, the fit of a model to information not used to compute it, and uncertainty in the model. The summary table is an overview of the validation report.
                                <a name="modelcomposition"></a>
                                <h4><b>
                                        <font color='#003366'>1. Model composition:</font>
                                    </b></h4>
                                <p> The total number of unique molecules that are present in the entry, and information used for modeling.</p>
                                <a name="entrycomposition"></a>
                                <h4><b>
                                        <font color='#003366'>1.1. Entry composition:</font>
                                    </b></h4>
                                <p> List of unique molecules that are present in the entry. </p>
                                <a name="datasets"></a>
                                <h4><b>
                                        <font color='#003366'>1.2. Datasets used for modeling:</font>
                                    </b></h4>
                                <p> List of input datasets used for modeling. </p>
                                <a name="representation"></a>
                                <h4><b>
                                        <font color='#003366'>2. Representation:</font>
                                    </b></h4>
                                <p> Representation of modeled structure. </p>
                                <a name="coverage"></a>
                                <h4><b>
                                        <font color='#003366'>2.1. Atomic structural coverage:</font>
                                    </b></h4>
                                <p> Percentage of modeled structure or residues for which atomic structures are available. These structures can include X-ray, NMR, EM, and other comparative models.</p>
                                <a name="rigid"></a>
                                <h4><b>
                                        <font color='#003366'>2.2. Rigid bodies:</font>
                                    </b></h4>
                                <p> A rigid body consists of multiple coarse-grained (CG) beads or atomic residues. In a rigid body, the beads (or residues) have their relative distances constrained during conformational sampling. </p>
                                <a name="flex"></a>
                                <h4><b>
                                        <font color='#003366'>2.3. Flexible units:</font>
                                    </b></h4>
                                <p> Flexible units consist of strings of beads that are restrained by the sequence connectivity. </p>
                                <a name="interface"></a>
                                <h4><b>
                                        <font color='#003366'>2.4. Interface units:</font>
                                    </b></h4>
                                <p> An automatic definition based on identified interface for each model. Applicable to models built with HADDOCK. </p>
                                <a name="resolution"></a>
                                <h4><b>
                                        <font color='#003366'>2.5. Resolution:</font>
                                    </b></h4>
                                <p> Resolution of segments of modeled structure. </p>
                                <a name="restraints"></a>
                                <h4><b>
                                        <font color='#003366'>3. Restraints:</font>
                                    </b></h4>
                                <p> A set of restraints used to compute modeled structure. </p>
                                <a name="physical"></a>
                                <h4><b>
                                        <font color='#003366'>3.1. Physical restraints:</font>
                                    </b></h4>
                                <p> A list of restraints derived from physical principles to compute modeled structure. </p>
                                <a name="expt"></a>
                                <h4><b>
                                        <font color='#003366'>3.2. Experimental information:</font>
                                    </b></h4>
                                <p> A list of restraints derived from experimental datasets to compute modeled structure. </p>
                                <a name="validation"></a>
                                <h4><b>
                                        <font color='#003366'>4. Validation:</font>
                                    </b></h4>
                                <p> Assessment of models based on validation criteria set by IHM task force (cite). </p>
                                <a name="sampling"></a>
                                <h4><b>
                                        <font color='#003366'>4.1. Sampling validation:</font>
                                    </b></h4>
                                <p> Validation metrics used to assess sampling convergence for stochastic sampling. Sampling precision is defined as the largest allowed Root-mean-square deviation (RMSD) between the cluster centroid and a model within any cluster in the finest clustering for which each sample contributes structures proportionally to its size (considering both the significance and magnitude of the difference) and for which a sufficient proportion of all structures occur in sufficiently large clusters.See <a href="wwPDB Integrative/Hybrid Methods (IHM) Task Force "> IHM task force recommendations</a> for more details. </p>
                                <a name="clusalgo"></a>
                                <h4><b>
                                        <font color='#003366'>4.2. Clustering algorithm:</font>
                                    </b></h4>
                                <p> Clustering algorithm used to analyze resulting solution. </p>
                                <a name="clusfeat"></a>
                                <h4><b>
                                        <font color='#003366'>4.3. Clustering feature:</font>
                                    </b></h4>
                                <p> Feature or reaction co-ordinate used to cluster solution. </p>
                                <a name="ensnum"></a>
                                <h4><b>
                                        <font color='#003366'>4.4. Number of ensembles:</font>
                                    </b></h4>
                                <p> Number of solutions or ensembles of modeled structure.</p>
                                <a name="ensmod"></a>
                                <h4><b>
                                        <font color='#003366'>4.5. Number of models in ensemble(s) :</font>
                                    </b></h4>
                                <p> Number of structures in the solution ensemble(s). </p>
                                <a name="modpre"></a>
                                <h4><b>
                                        <font color='#003366'>4.6. Model precision:</font>
                                    </b></h4>
                                <p> Measurement of variation among the models in the ensemble upon a global least-squares superposition. </p>
                                <a name="dataqual"></a>
                                <h4><b>
                                        <font color='#003366'>4.7. Quality of data:</font>
                                    </b></h4>
                                <p> Assessment of data on which modeled structures are based.</p>
                                <a name="modqual"></a>
                                <h4><b>
                                        <font color='#003366'>4.8. Model quality:</font>
                                    </b></h4>
                                <p> Assessment of modeled structures based on physical principles. </p>
                                <a name="atomic"></a>
                                <h4><b>
                                        <font color='#003366'>4.9. Assessment of atomic segments:</font>
                                    </b></h4>
                                <p> Assessment of atomic segments in the integrative structure. Quality statistics in this section are calculated using standard compilations of covalent geometry parameters (Engh & Huber, 2001; Parkinson et al., 1996), tools in MolProbity (Chen et al., 2010), Validation-pack (Feng et al.) and the wwPDB chemical component dictionary (CCD). See <a href="https://www.wwpdb.org/validation/2017/XrayValidationReportHelp#model_quality"> user guide on PDB validation report.</a> </p>
                                <a name="exv"></a>
                                <h4><b>
                                        <font color='#003366'>4.10. Excluded volume satisfaction:</font>
                                    </b></h4>
                                <p> Assessment of excluded volume satisfaction of CG beads in the modeled structure. Excluded volume between two beads not connected in sequence are satisfied if the distance between them is greater than that of the sum of their radii. </p>
                                <a name="fit2input"></a>
                                <h4><b>
                                        <font color='#003366'>4.11. Fit of the model to information used to compute it:</font>
                                    </b></h4>
                                <p> Assessment of modeled structure based on data used for modeling.  </p>
                                <a name="cross"></a>
                                <h4><b>
                                        <font color='#003366'>4.12. Fit of the model to information not used to compute it:</font>
                                    </b></h4>
                                <p> Assessment of modeled structure based on data not used for modeling.</p>
                                <a name="method"></a>
                                <h4><b>
                                        <font color='#003366'>5. Methodology and software:</font>
                                    </b></h4>
                                <p> List of methods on which modeled structures are based and software used to obtain structures. </p>
                                <a name="methname"></a>
                                <h4><b>
                                        <font color='#003366'>5.1. Method name</font>
                                    </b></h4>
                                <p> Name(s) of method(s) used to generate modeled structures. </p>
                                <a name="methdet"></a>
                                <h4><b>
                                        <font color='#003366'>5.2. Method details</font>
                                    </b></h4>
                                <p> Details of method(s) used to generate modeled structures. </p>
                                <a name="software"></a>
                                <h4><b>
                                        <font color='#003366'>5.3. Software</font>
                                    </b></h4>
                                <p> Software used to compute modeled structure, also includes scripts used to generate and analyze models. </p>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
                            <!-- end card bods-->
                            <!-- start card body2 -->
                            <div class="card-body">
                                <!-- start overall card body for front page -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- end card-header -->
                                        <div class="mt-2" />
                                    </div>
                                    <p align="justify">The following software were used in the production of this report.</p>
                                    <ul style="list-style-type:none;">
                                        <script>
                                        var s = 0
                                        if (s < 1) {
                                            var docx = "<li><em>Molprobity : Version 4.4</em></li>";
                                            document.write(docx);
                                        }
                                        </script>
                                        <li><em>Integrative Modeling Validation Package : Version 1.0</em></li>
                                    </ul>
                                </div>
                                <!-- end column -->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end card body-->
                        <!-- start footer -->
                        <footer class="page-footer">
                            <div class="container-fluid">
                                <div class="row" style="/color:#FFF; background-color: rgba(102,153,102, 0.5); padding-top: 10px; padding-bottom: 2px;">
                                    <div class="col-sm-6" style="padding-top: 10px; padding-bottom: 10px;">
                                        <a href="http://www.wwpdb.org/" target="_blank">
                                            <img src="../../static/webimages/wwpdb-logo11.png" alt="wwpdb" height="35px" width="160px" /></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="float-right text-right">
                                            <p style="margin-bottom: 0px; margin-right: 0px;color: #000">Supported by<br />National Science Foundation</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="color:#FFF; background-color: #669966; padding-top: 3px; padding-bottom: 8px;">
                                </div>
                            </div>
                    </div>

                    </footer>
                    <!-- add Javasscript file from js file -->
                    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/popper1.12.9.min.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap4.1.3.min.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
                </div>
</body>

</html>